<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{principal}">
<head>
  <title>AdminLTE 3 | Dashboard</title>
</head>

  <section layout:fragment="conteudo">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">Permissões</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">  
              <!-- <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Dashboard v1</li>
                <li><button type="button" class="btn btn-block btn-info">Info</button></li>
                <li><button type="button" class="btn btn-block btn-info">Info</button></li>
              </ol> -->
              <div class="float-right">
                <a class="btn btn-block btn-info" th:href="@{/permissoes/novo}">Novo</a>
              </div>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->
  
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
        
          <div layout:insert="~{mensagem_geral}"></div>
        
          <div class="card card-secondary">
            <!-- <div class="card-header">
              <h3 class="card-title">Novo Título</h3>
            </div> -->
            <div class="card-body">
              <form method="GET" th:action="@{/permissoes}" th:object="${filtro}">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"></input>
                <div class="form-group row">
                  <div class="col-sm-5">
                    <div class="input-group">
                      <input class="form-control" 
                        placeholder="Qual título você está procurando?" autofocus="autofocus"
                        th:field="*{descricao}"/>
                      <div class="input-group-append">
                        <button type="submit" class="btn btn-default">
                          <i class="fas fa-search"></i>
                        </button>
                      </div>
                    </div>
                    
                  </div>
                </div>
              </form>
            
              <table class="table table-bordered table-striped table-sm js-tabela">
                <thead  style="background-color: #fffed4">
                  <tr>
                    <th class="text-center col-1">Código</th>
                    <th>Descrição</th>
                    <th class="text-center col-2">Sigla</th>
                    <th class="text-center col-2">Ações</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="permissao : ${permissoes}">
                    <td class="text-center" th:text="${permissao.id}"></td>
                    <td th:text="${permissao.descricao}"></td>
                    <td class="text-center" th:text="${permissao.sigla}"></td>
                    <td class="text-center nopadding">
                      <a th:href="@{/permissoes/{id}(id=${permissao.id})}" class="btn btn-link btn-sm"
                        title="Editar" rel="tooltip" data-placement="top">
                        <i class="fas fa-pencil-alt"></i>
                      </a>
                      <a data-toggle="modal" data-target="#modalConfirmacao" class="btn btn-link btn-sm" 
                        th:href="@{#}" th:attr="data-id=${permissao.id}, data-descricao=${permissao.descricao}"
                        title="Excluir" rel="tooltip" data-placement="top"><!--  -->
                        <i class="fas fa-times"></i>
                      </a>
                    </td>
                  </tr>
                  <tr th:if="${#lists.isEmpty(permissoes)}">
                    <td colspan="6">Nenhum título foi encontrado.</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- form start -->
            <!-- <form class="form-horizontal" method="POST" action="/titulos"></form> -->
          </div>
          <!-- /.card -->
        </div><!-- container-fluid -->
      </section>
      <!-- /.content -->
      <br/>
    </div>
    <!-- /.content-wrapper -->
    
    <div layout:insert="~{confirmacao_exclusao_permissao}"></div>
    
  </section>
  
</html>
