<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{principal}">
<head>
  <title th:text="#{mercadinho}"></title>
</head>

  <section layout:fragment="container">
    
   <!--  <form role="form" method="POST" th:action="@{/aberturaCaixa}" th:object="${caixa}"> -->
      <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"></input>
      <!-- <header layout:insert="~{cabecalho}"></header> -->
      <div class="pt-2"></div>
      <section class="content">
        <div class="container-fluid">
        
          <!-- <div layout:insert="~{mensagem_geral}"></div>
          <div layout:insert="~{mensagem_erro}"></div> -->
          
          <div class="row">
            <div class="col-md-12">
              <button type="button" class="btn btn-default btn-lg mb-2"
               data-toggle="modal" data-target="#modal-abrir"
               th:if="${caixaAtual.status == T(com.kaue.enumeration.StatusCaixa).FECHADO}"><i class="fas fa-lock-open"></i> Abrir caixa</button>
              <!-- <button type="button" class="btn btn-default btn-lg mb-2"
               data-toggle="modal" data-target="#modal-fechar"
               th:if="${caixaAtual.status == T(com.kaue.enumeration.StatusCaixa).ABERTO}"><i class="fas fa-lock"></i> Fechar caixa</button> -->
              <div class="card card-success card-outline">
                <div class="card-header">
                  <h3 class="card-title">
                    <small><i class="fas fa-edit"></i></small>
                    Informações do Caixa
                  </h3>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group row mb-0">
                        <label class="col-md-4 col-form-label">Nº do Caixa:</label>
                        <div class="col-sm-8">
                          <input type="text" readonly class="form-control-plaintext" th:value="${caixaAtual.numero}"></input>
                        </div>
                      </div>  
                    </div>
                    <div class="col-md-8">
                      <div class="form-group row mb-0">
                        <label class="col-md-2 col-form-label">Status:</label>
                        <div class="col-sm-8">
                          <input type="text" readonly class="form-control-plaintext" th:value="${caixaAtual.status}"></input>
                        </div>
                      </div> 
                    </div>
                    
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group row mb-0">
                        <label class="col-md-4 col-form-label">Abertura:</label>
                        <div class="col-sm-8">
                          <input type="text" readonly class="form-control-plaintext" th:value="${{caixaAtual.dataAbertura}}"></input>
                        </div>
                      </div>
                      <div class="form-group row mb-0">
                        <label class="col-md-4 col-form-label">Fechamento:</label>
                        <div class="col-sm-8">
                          <input type="text" readonly class="form-control-plaintext" th:value="${{caixaAtual.dataFechamento}}"></input>
                        </div>
                      </div>   
                    </div>
                    <div class="col-md-8">
                      <div class="form-group row mb-0">
                        <label class="col-md-4 col-form-label">Usuário Abertura:</label>
                        <div class="col-sm-8">
                          <p class="form-control-plaintext" 
                           th:if="${caixaAtual.usuarioAbertura != null}" 
                           th:text="${caixaAtual.usuarioAbertura.nome}"></p>
                        </div>
                      </div>
                      <div class="form-group row mb-0">
                        <label class="col-md-4 col-form-label">Usuário Fechamento:</label>
                        <div class="col-sm-8">
                          <p class="form-control-plaintext" 
                           th:if="${caixaAtual.usuarioFechamento != null}" 
                           th:text="${caixaAtual.usuarioFechamento.nome}"></p>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
            <div class="card card-primary card-tabs">
              <div class="card-header p-0 pt-1">
                <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" id="custom-tabs-one-home-tab" data-toggle="pill" href="#custom-tabs-one-home" role="tab" aria-controls="custom-tabs-one-home" aria-selected="true">Resumo por forma de pagamento</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="custom-tabs-one-profile-tab" data-toggle="pill" href="#custom-tabs-one-profile" role="tab" aria-controls="custom-tabs-one-profile" aria-selected="false">Resumo por movimento</a>
                  </li>
                </ul>
              </div>
              <div class="card-body">
                <div class="tab-content" id="custom-tabs-one-tabContent">
                  <div class="tab-pane fade show active" id="custom-tabs-one-home" role="tabpanel" aria-labelledby="custom-tabs-one-home-tab">
                     <div class="row">
                      <div class="col-sm-4">
                        <div class="card card-warning card-outline">
                          <div class="card-header">
                            <h3 class="card-title">
                              <small><i class="fas fa-edit"></i></small>
                              Movimento em dinheiro do Caixa
                            </h3>
                          </div>
                          <div class="card-body">
                            <div class="d-flex flex-column" style="height: 260px">
                              <div class="mb-auto">
                                <div class="table-responsive">
                                  <table class="table table-sm table-striped">
                                    <tr>
                                      <th style="width:50%"><i class="fab fa-font-awesome-flag"></i> Valor inicial:</th>
                                      <td class="text-right"><b>(+) 250,30</b></td>
                                    </tr>
                                    <tr>
                                      <th><i class="fas fa-cash-register"></i> Vendas:</th>
                                      <td class="text-right"><b>(+) 10,34</b></td>
                                    </tr>
                                    <tr>
                                      <th><i class="fas fa-sign-in-alt"></i> Recebimentos:</th>
                                      <td class="text-right"><b>(+) 5,80</b></td>
                                    </tr>
                                    <tr>
                                      <th><i class="fas fa-plus"></i> Reforço:</th>
                                      <td class="text-right"><b>(+) 265,24</b></td>
                                    </tr>
                                    <tr>
                                      <th><i class="fas fa-minus"></i> Sangria:</th>
                                      <td class="text-right text-danger"><b>(-) 265,24</b></td>
                                    </tr>
                                    <tr>
                                      <th><i class="fas fa-sign-out-alt"></i> Saídas:</th>
                                      <td class="text-right text-danger"><b>(-) 50,00</b></td>
                                    </tr>
                                  </table>
                                </div>
                              </div>
                              <table class="table table-sm table-borderless mb-0">
                                <tr class="table-info">
                                  <th style="width:50%">Saldo atual:</th>
                                  <td class="text-right"><b>216,34</b></td>
                                </tr>
                              </table>
                            </div>
                            
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="card card-primary card-outline">
                          <div class="card-header">
                            <h3 class="card-title">
                              <small><i class="fas fa-edit"></i></small>
                              Venda por forma de pagamento
                            </h3>
                          </div>
                          <div class="card-body">
                            <div class="d-flex flex-column" style="height: 260px">
                              <div class="mb-auto">
                                <div class="table-responsive">
                                  <table class="table table-sm table-striped">
                                    <tr>
                                      <th style="width:70%"><i class="fas fa-money-bill"></i> Dinheiro:</th>
                                      <td class="text-right"><b>250,30</b></td>
                                    </tr>
                                    <tr>
                                      <th><i class="far fa-credit-card"></i> Cartão de crédito:</th>
                                      <td class="text-right"><b>10,34</b></td>
                                    </tr>
                                    <tr>
                                      <th><i class="fas fa-credit-card"></i> Cartão de débito:</th>
                                      <td class="text-right"><b>5,80</b></td>
                                    </tr>
                                  </table>
                                </div>
                              </div>
                              <table class="table table-sm table-borderless mb-0">
                                <tr class="table-info">
                                  <th style="width:50%">Total:</th>
                                  <td class="text-right"><b>265,24</b></td>
                                </tr>
                              </table>
                              
                            </div>
                          
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <p>Recebimentos por forma de pagamento</p>
                        <div class="card card-primary card-outline" >
                          <div class="card-header">
                            <h3 class="card-title">
                              <small><i class="fas fa-edit"></i></small>
                              Receb. por forma de pagamento
                            </h3>
                          </div>
                          <div class="card-body">
                            
                            <div class="d-flex flex-column" style="height: 260px">
                              
                              <div class="mb-auto">
                                <div class="table-responsive">
                                  <table class="table table-sm table-striped">
                                    <tr>
                                      <th style="width:50%"><i class="fas fa-money-bill"></i> Dinheiro:</th>
                                      <td class="text-right"><b>250,30</b></td>
                                    </tr>
                                  </table>
                                </div>
                              </div>
                              <table class="table table-sm table-borderless mb-0">
                                <tr class="table-info">
                                  <th style="width:50%">Total:</th>
                                  <td class="text-right"><b>250,30</b></td>
                                </tr>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                     </div>
                  </div>
                  <div class="tab-pane fade" id="custom-tabs-one-profile" role="tabpanel" aria-labelledby="custom-tabs-one-profile-tab">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="card card-success card-outline">
                          <div class="card-header">
                            <h3 class="card-title">
                              <small><i class="fas fa-edit"></i></small>
                              Valores do Caixa
                            </h3>
                          </div>
                          <div class="card-body">
                            <div class="d-flex flex-column" style="height: 260px">
                              <div class="mb-auto">
                                <div class="table-responsive">
                                  <table class="table table-sm table-striped">
                                    <tr>
                                      <th style="width:40%"><i class="fab fa-font-awesome-flag"></i> Valor inicial (A):</th>
                                      <td class="text-right"><b>250,30</b></td>
                                    </tr>
                                    <tr>
                                      <th><i class="fas fa-plus"></i> Entradas (B):</th>
                                      <td class="text-right"><b>10,34</b></td>
                                    </tr>
                                    <tr>
                                      <th><i class="fas fa-minus"></i> Saídas (C):</th>
                                      <td class="text-right"><b>10,34</b></td>
                                    </tr>
                                    <tr>
                                      <th><i class="fas fa-exchange-alt"></i> Movimentos (B-C):</th>
                                      <td class="text-right"><b>5,80</b></td>
                                    </tr>
                                  </table>
                                </div>
                              </div>
                              <table class="table table-sm table-borderless mb-0">
                                <tr class="table-info">
                                  <th style="width:50%">Valor final (A+B-C):</th>
                                  <td class="text-right"><b>216,34</b></td>
                                </tr>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="card card-success card-outline">
                          <div class="card-header">
                            <h3 class="card-title">
                              <small><i class="fas fa-edit"></i></small>
                              Transferências - reforço/sangria
                            </h3>
                          </div>
                          <div class="card-body">
                            <div class="d-flex flex-column" style="height: 260px">
                              <div class="mb-auto">
                                <div class="table-responsive">
                                  <table class="table table-sm table-striped">
                                    <tr>
                                      <th style="width:50%"><i class="fas fa-plus"></i> Reforço de dinheiro:</th>
                                      <td class="text-right"><b>250,30</b></td>
                                    </tr>
                                    <tr>
                                      <th><i class="fas fa-minus"></i> Sangria de dinheiro:</th>
                                      <td class="text-right"><b>10,34</b></td>
                                    </tr>
                                    <tr>
                                      <th><i class="fas fa-minus"></i> Sangria de cheque:</th>
                                      <td class="text-right"><b>5,80</b></td>
                                    </tr>
                                  </table>
                                </div>
                              </div>
                              <table class="table table-sm table-borderless mb-0">
                                <tr class="table-info">
                                  <th style="width:50%">Saldo atual:</th>
                                  <td class="text-right"><b>216,34</b></td>
                                </tr>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="card card-success card-outline">
                          <div class="card-header">
                            <h3 class="card-title">
                              <small><i class="fas fa-edit"></i></small>
                              Status do Caixa (GAVETA)
                            </h3>
                          </div>
                          <div class="card-body">
                            <div class="d-flex flex-column" style="height: 150px">
                              <div class="mb-auto">
                                <div class="table-responsive">
                                  <table class="table table-sm table-striped">
                                    <tr>
                                      <th style="width:20%"><i class="fab fa-font-awesome-flag"></i> Dinheiro:</th>
                                      <td class="text-left"><b>250,30</b></td>
                                    </tr>
                                    <tr>
                                      <th><i class="fas fa-money-check-alt"></i> Cheque:</th>
                                      <td class="text-left"><b>10,34</b></td>
                                    </tr>
                                    <tr>
                                      <th><i class="far fa-credit-card"></i> Cartão:</th>
                                      <td class="text-left"><b>5,80</b></td>
                                    </tr>
                                    <tr class="table-info">
                                      <th style="width:20%">Total gaveta:</th>
                                      <td class="text-left"><b>216,34</b></td>
                                    </tr>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                  </div>            
                </div>
              </div>
              <!-- /.card -->
            </div>
            </div>
          </div>
          
          <form role="form" method="POST" th:action="@{/caixa/abrirCaixa}" th:object="${caixa}"
           th:if="${caixaAtual.status == T(com.kaue.enumeration.StatusCaixa).FECHADO}">
            <div class="modal fade" id="modal-abrir">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title"><i class="fas fa-sync"></i> Abertura de Caixa</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div layout:insert="~{mensagem_geral}"></div>
                    <div layout:insert="~{mensagem_erro}"></div>
                    <input type="hidden" th:field="*{numero}"></input>
                    <input type="hidden" th:field="*{usuarioAbertura}"></input>
                    <input type="hidden" th:field="*{status}"></input>
                    <div class="form-group row">
                      <label for="modalAbrirCaixaData" class="col-sm-2 col-form-label">Data</label>
                      <div class="col-sm-4">             
                        <input id="modalAbrirCaixaData" autofocus="autofocus" type="text" class="form-control js-date" th:field="*{{dataAbertura}}"></input>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="modalAbrirCaixaValorInicial" class="col-sm-2 col-form-label">Valor inicial</label>
                      <div class="col-sm-4">             
                        <input id="modalAbrirCaixaValorInicial" type="text" class="form-control js-currency" th:field="*{valorInicial}"></input>
                      </div>
                    </div>
                    <div class="card card-primary card-outline" >
                      <div class="card-header">
                        <h3 class="card-title">
                          <small><i class="fas fa-edit"></i></small>
                          Dados do caixa anterior
                        </h3>
                      </div>
                      <div class="card-body">
                        <div class="row">
                          <div class="col-md-5">
                            <dl class="row">
                              <dt class="col-md-4">Nº do caixa</dt>
                              <dd class="col-md-8" th:text="${caixaAtual.numero}"></dd>
                              <dt class="col-md-4">Abertura</dt>
                              <dd class="col-md-8" th:text="${{caixaAtual.dataAbertura}}"></dd>
                              <dt class="col-md-4">Fechamento</dt>
                              <dd class="col-md-8"></dd>
                            </dl>    
                          </div>
                          <div class="col-md-7">
                            <dl class="row">
                              <dt class="col-md-5">Observações</dt>
                              <dd class="col-md-7"><a href="#">Visualize aqui</a><dd>
                              <dt class="col-md-5">Usuário abertura</dt>
                              <dd class="col-md-7" th:text="${caixaAtual.usuarioAbertura.nome}"></dd>
                              <dt class="col-md-5">Usuário fechamento</dt>
                              <dd class="col-md-7"></dd>
                            </dl>    
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-6 col-md-3">
                            <div class="description-block border-right">
                              <span class="description-percentage text-warning"><i class="fab fa-font-awesome-flag"></i></span>
                              <h5 class="description-header">Valor inicial</h5>
                              <span class="description-text" th:text="${{caixaAtual.valorInicial}}"></span>
                            </div>
                          </div>
                          <div class="col-sm-6 col-md-3">
                            <div class="description-block border-right">
                              <span class="description-percentage text-primary"><i class="fas fa-plus"></i></span>
                              <h5 class="description-header">Entradas</h5>
                              <span class="description-text" th:text="${{caixaAtual.valorEntradas}}"></span>
                            </div>
                          </div>
                          <div class="col-sm-6 col-md-3">
                            <div class="description-block border-right">
                              <span class="description-percentage text-danger"><i class="fas fa-minus"></i></span>
                              <h5 class="description-header">Saídas</h5>
                              <span class="description-text" th:text="${{caixaAtual.valorSaidas}}"></span>
                            </div>
                          </div>
                          <div class="col-sm-6 col-md-3">
                            <div class="description-block border-right">
                              <span class="description-percentage text-success"><i class="fas fa-money-bill"></i></span>
                              <h5 class="description-header">Dinheiro (Gaveta)</h5>
                              <span class="description-text" 
                               th:text="${{caixaAtual.valorGaveta}}"></span>
                            </div>
                          </div>
                        </div>
                        
                      </div>
                    </div>
                    <small id="emailHelp" class="text-muted float-right">O valor final do caixa anterior sempre será o valor inicial do próximo caixa.</small>
                  </div>
                  <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Sair</button>
                    <button type="submit" class="btn btn-primary">Abrir</button>
                  </div>
                  
                </div>
                <!-- /.modal-content -->
              </div>
              <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
          </form>
          
          <!-- <form role="form" method="POST" th:action="@{/caixa/fecharCaixa}" th:object="${caixa}"
           th:if="${caixaAtual.status == T(com.kaue.enumeration.StatusCaixa).ABERTO}">
            <div class="modal fade" id="modal-fechar">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title"><i class="fas fa-sync"></i> Abertura de Caixa</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div layout:insert="~{mensagem_geral}"></div>
                    <div layout:insert="~{mensagem_erro}"></div>
                    <input type="hidden" th:field="*{numero}"></input>
                    <input type="hidden" th:field="*{usuarioAbertura}"></input>
                    <div class="form-group row">
                      <label for="modalFecharCaixaData" class="col-sm-2 col-form-label">Data</label>
                      <div class="col-sm-4">             
                        <input id="modalFecharCaixaData" autofocus="autofocus" type="text" class="form-control js-date" th:field="*{{dataAbertura}}"></input>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="modalFecharCaixaValorInicial" class="col-sm-2 col-form-label">Valor inicial</label>
                      <div class="col-sm-4">             
                        <input id="modalFecharCaixaValorInicial" type="text" class="form-control js-currency" th:field="*{valorInicial}"></input>
                      </div>
                    </div>
                    <div class="card card-primary card-outline" >
                      <div class="card-header">
                        <h3 class="card-title">
                          <small><i class="fas fa-edit"></i></small>
                          Dados do caixa anterior
                        </h3>
                      </div>
                      <div class="card-body">
                        <div class="row">
                          <div class="col-md-5">
                            <dl class="row">
                              <dt class="col-md-4">Nº do caixa</dt>
                              <dd class="col-md-8">01</dd>
                              <dt class="col-md-4">Abertura</dt>
                              <dd class="col-md-8">25/09/2020 08:05</dd>
                              <dt class="col-md-4">Fechamento</dt>
                              <dd class="col-md-8">25/09/2020 21:38</dd>
                            </dl>    
                          </div>
                          <div class="col-md-7">
                            <dl class="row">
                              <dt class="col-md-5">Observações</dt>
                              <dd class="col-md-7"><a href="#">Visualize aqui</a><dd>
                              <dt class="col-md-5">Usuário abertura</dt>
                              <dd class="col-md-7">Raimundo Humberto</dd>
                              <dt class="col-md-5">Usuário fechamento</dt>
                              <dd class="col-md-7">Sandra</dd>
                            </dl>    
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-6 col-md-3">
                            <div class="description-block border-right">
                              <span class="description-percentage text-warning"><i class="fab fa-font-awesome-flag"></i></span>
                              <h5 class="description-header">Valor inicial</h5>
                              <span class="description-text">0,00</span>
                            </div>
                          </div>
                          <div class="col-sm-6 col-md-3">
                            <div class="description-block border-right">
                              <span class="description-percentage text-primary"><i class="fas fa-plus"></i></span>
                              <h5 class="description-header">Entradas</h5>
                              <span class="description-text">0,00</span>
                            </div>
                          </div>
                          <div class="col-sm-6 col-md-3">
                            <div class="description-block border-right">
                              <span class="description-percentage text-danger"><i class="fas fa-minus"></i></span>
                              <h5 class="description-header">Saídas</h5>
                              <span class="description-text">0,00</span>
                            </div>
                          </div>
                          <div class="col-sm-6 col-md-3">
                            <div class="description-block border-right">
                              <span class="description-percentage text-success"><i class="fas fa-money-bill"></i></span>
                              <h5 class="description-header">Dinheiro (Gaveta)</h5>
                              <span class="description-text">0,00</span>
                            </div>
                          </div>
                        </div>
                        
                      </div>
                    </div>
                    <small id="emailHelp" class="text-muted float-right">O valor final do caixa anterior sempre será o valor inicial do próximo caixa.</small>
                  </div>
                  <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Sair</button>
                    <button type="submit" class="btn btn-primary">Abrir</button>
                  </div>
                  
                </div>
                /.modal-content
              </div>
              /.modal-dialog
            </div>
            /.modal
          </form> -->
          
        </div>
        <!-- container-fluid -->
      </section>
    <!-- </form> --> 
  </section>  
  
  <script layout:fragment="js-validator">
  	$(document).on('keyup', function(event) {
  	  // Number 13 is the "Enter" key on the keyboard
  	  console.log(event.keyCode);
  	  if (event.keyCode === 112) { //f1
  	    // Cancel the default action, if needed
  	    event.preventDefault();
  	    // Trigger the button element with a click
  	    $('#linkComprovante')[0].click();
  	  } else if(event.keyCode === 113){
  		event.preventDefault();
  	    $('#linkRetornar')[0].click();
  	  }
  	});
  </script>
    
</html>
