<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{principal}">
<head>
  <title th:text="#{mercadinho}"></title>
</head>

  <section layout:fragment="container">
    
   <!--  <form role="form" method="POST" th:action="@{/aberturaCaixa}" th:object="${caixa}"> -->
      
      <div class="content-header pb-0 px-0">
        <div class="container-fluid">
          <div class="row mb-2">
            <!-- <div class="col-sm-6">
              <section layout:fragment="titulo_da_pagina">
                <h1 class="m-0 text-dark">Cadastro de Títulos</h1>
              </section>
            </div> -->
            <div class="col-sm-12">
              <div class="float-right">
                <button type="button" class="btn btn-success btn-lg js-abrir-caixa"
               th:attr="data-url-abrir-caixa=@{/caixa/abrir}" 
               th:if="${caixaAtual.status == T(com.kaue.enumeration.StatusCaixa).FECHADO}">
                <i class="fas fa-lock-open"></i> Abrir caixa
               </button><!-- data-toggle="modal" data-target="#modal-abrir" -->
              
              <button type="button" class="btn btn-secondary btn-lg"
               data-toggle="modal" data-target="#modal-fechar"
               th:if="${caixaAtual.status == T(com.kaue.enumeration.StatusCaixa).ABERTO}"><i class="fas fa-lock"></i> Fechar caixa</button>
              
              <button type="button" class="btn btn-danger btn-lg"
               data-toggle="modal" data-target="#modal-sangria"><i class="fas fa-minus"></i> Sangria</button>
               
              <button type="button" class="btn btn-primary btn-lg"
               data-toggle="modal" data-target="#modal-reforco"><i class="fas fa-plus"></i> Reforço</button>
               
              <button type="button" class="btn btn-warning btn-lg"
               data-toggle="modal" data-target="#modal-reforco"><i class="fas fa-print"></i> Resumo</button>   
              </div>
            </div>
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
      </div>
      <div class="pt-2"></div>
      <section class="content">
        <div class="container-fluid">
        
          <div layout:insert="~{mensagem_geral}"></div>
          
          <div class="row">
            <div class="col-md-12">
              <div class="card card-success card-outline">
                <div class="card-header">
                  <h3 class="card-title">
                    <small><i class="fas fa-edit"></i></small>
                    Informações do Caixa
                  </h3>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group row">
                        <label class="col-md-auto col-form-label">Nº do Caixa:</label>
                        <div class="col-md-8">
                          <input type="text" readonly class="form-control-plaintext" th:value="${caixaAtual.numero}"></input>
                        </div>
                      </div>  
                    </div>
                    <div class="col-md-8">
                      <div class="form-group row">
                        <label class="col-md-auto col-form-label">Status:</label>
                        <div class="col-md-8">
                          <span class="badge badge-success" 
                           th:if="${caixaAtual.status == T(com.kaue.enumeration.StatusCaixa).ABERTO}"
                           th:text="${caixaAtual.status}"></span>
                          <span class="badge badge-secondary" 
                           th:if="${caixaAtual.status == T(com.kaue.enumeration.StatusCaixa).FECHADO}"
                           th:text="${caixaAtual.status}"></span>
                        </div>
                      </div> 
                    </div>
                    
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group row">
                        <label class="col-md-auto col-form-label">Abertura:</label>
                        <div class="col-md-8">
                          <input type="text" readonly class="form-control-plaintext" th:value="${{caixaAtual.dataAbertura}}"></input>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-md-auto col-form-label">Fechamento:</label>
                        <div class="col-md-8">
                          <input type="text" readonly class="form-control-plaintext" th:value="${{caixaAtual.dataFechamento}}"></input>
                        </div>
                      </div>   
                    </div>
                    <div class="col-md-8">
                      <div class="form-group row">
                        <label class="col-md-auto col-form-label">Usuário Abertura:</label>
                        <div class="col-md-8">
                          <p class="form-control-plaintext" 
                           th:if="${caixaAtual.usuarioAbertura != null}" 
                           th:text="${caixaAtual.usuarioAbertura.nome}"></p>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-md-auto col-form-label">Usuário Fechamento:</label>
                        <div class="col-md-8">
                          <p class="form-control-plaintext" 
                           th:if="${caixaAtual.usuarioFechamento != null}" 
                           th:text="${caixaAtual.usuarioFechamento.nome}"></p>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
            <div class="card card-primary card-tabs">
              <div class="card-header p-0 pt-1">
                <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" id="custom-tabs-one-home-tab" data-toggle="pill" href="#custom-tabs-one-home" role="tab" aria-controls="custom-tabs-one-home" aria-selected="true">Resumo por forma de pagamento</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="custom-tabs-one-profile-tab" data-toggle="pill" href="#custom-tabs-one-profile" role="tab" aria-controls="custom-tabs-one-profile" aria-selected="false">Resumo por movimento</a>
                  </li>
                </ul>
              </div>
              <div class="card-body">
                <div class="tab-content" id="custom-tabs-one-tabContent">
                  <div class="tab-pane fade show active" id="custom-tabs-one-home" role="tabpanel" aria-labelledby="custom-tabs-one-home-tab">
                     <div class="row">
                      <div class="col-sm-4">
                        <div class="card card-warning card-outline">
                          <div class="card-header">
                            <h3 class="card-title">
                              <small><i class="fas fa-edit"></i></small>
                              Movimento em dinheiro do Caixa
                            </h3>
                          </div>
                          <div class="card-body">
                            <div class="d-flex flex-column" style="height: 260px">
                              <div class="mb-auto">
                                <div class="table-responsive">
                                  <table class="table table-sm table-striped">
                                    <tr>
                                      <th style="width:50%"><i class="fab fa-font-awesome-flag"></i> Valor inicial:</th>
                                      <td class="text-right"><b th:text="|(+) ${{caixaAtual.valorInicial}}|"></b></td>
                                    </tr>
                                    <tr>
                                      <th><i class="fas fa-cash-register"></i> Vendas:</th>
                                      <td class="text-right"><b th:text="|(+) ${{caixaAtual.valorVendas}}|"></b></td>
                                    </tr>
                                    <tr>
                                      <th><i class="fas fa-sign-in-alt"></i> Recebimentos:</th>
                                      <td class="text-right"><b th:text="|(+) ${{caixaAtual.valorRecebimentos}}|"></b></td>
                                    </tr>
                                    <tr>
                                      <th><i class="fas fa-plus"></i> Reforço:</th>
                                      <td class="text-right"><b th:text="|(+) ${{caixaAtual.valorReforco}}|"></b></td>
                                    </tr>
                                    <tr>
                                      <th><i class="fas fa-minus"></i> Sangria:</th>
                                      <td class="text-right text-danger"><b th:text="|(-) ${{caixaAtual.valorSangria}}|"></b></td>
                                    </tr>
                                    <tr>
                                      <th><i class="fas fa-sign-out-alt"></i> Saídas:</th>
                                      <td class="text-right text-danger"><b th:text="|(-) ${{caixaAtual.valorSaidas}}|"></b></td>
                                    </tr>
                                  </table>
                                </div>
                              </div>
                              <table class="table table-sm table-borderless mb-0">
                                <tr class="table-info">
                                  <th style="width:50%">Saldo atual:</th>
                                  <td class="text-right"><b>0,00</b></td>
                                </tr>
                              </table>
                            </div>
                            
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="card card-primary card-outline">
                          <div class="card-header">
                            <h3 class="card-title">
                              <small><i class="fas fa-edit"></i></small>
                              Venda por forma de pagamento
                            </h3>
                          </div>
                          <div class="card-body">
                            <div class="d-flex flex-column" style="height: 260px">
                              <div class="mb-auto">
                                <div class="table-responsive">
                                  <table class="table table-sm table-striped">
                                    <tr>
                                      <th style="width:70%"><i class="fas fa-money-bill"></i> Dinheiro:</th>
                                      <td class="text-right"><b>250,30</b></td>
                                    </tr>
                                    <tr>
                                      <th><i class="far fa-credit-card"></i> Cartão de crédito:</th>
                                      <td class="text-right"><b>10,34</b></td>
                                    </tr>
                                    <tr>
                                      <th><i class="fas fa-credit-card"></i> Cartão de débito:</th>
                                      <td class="text-right"><b>5,80</b></td>
                                    </tr>
                                  </table>
                                </div>
                              </div>
                              <table class="table table-sm table-borderless mb-0">
                                <tr class="table-info">
                                  <th style="width:50%">Total:</th>
                                  <td class="text-right"><b>265,24</b></td>
                                </tr>
                              </table>
                              
                            </div>
                          
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="card card-primary card-outline" >
                          <div class="card-header">
                            <h3 class="card-title">
                              <small><i class="fas fa-edit"></i></small>
                              Receb. por forma de pagamento
                            </h3>
                          </div>
                          <div class="card-body">
                            
                            <div class="d-flex flex-column" style="height: 260px">
                              
                              <div class="mb-auto">
                                <div class="table-responsive">
                                  <table class="table table-sm table-striped">
                                    <tr>
                                      <th style="width:50%"><i class="fas fa-money-bill"></i> Dinheiro:</th>
                                      <td class="text-right"><b>250,30</b></td>
                                    </tr>
                                  </table>
                                </div>
                              </div>
                              <table class="table table-sm table-borderless mb-0">
                                <tr class="table-info">
                                  <th style="width:50%">Total:</th>
                                  <td class="text-right"><b>250,30</b></td>
                                </tr>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                     </div>
                  </div>
                  <div class="tab-pane fade" id="custom-tabs-one-profile" role="tabpanel" aria-labelledby="custom-tabs-one-profile-tab">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="card card-success card-outline">
                          <div class="card-header">
                            <h3 class="card-title">
                              <small><i class="fas fa-edit"></i></small>
                              Valores do Caixa
                            </h3>
                          </div>
                          <div class="card-body">
                            <div class="d-flex flex-column" style="height: 260px">
                              <div class="mb-auto">
                                <div class="table-responsive">
                                  <table class="table table-sm table-striped">
                                    <tr>
                                      <th style="width:40%"><i class="fab fa-font-awesome-flag"></i> Valor inicial (A):</th>
                                      <td class="text-right"><b>250,30</b></td>
                                    </tr>
                                    <tr>
                                      <th><i class="fas fa-plus"></i> Entradas (B):</th>
                                      <td class="text-right"><b>10,34</b></td>
                                    </tr>
                                    <tr>
                                      <th><i class="fas fa-minus"></i> Saídas (C):</th>
                                      <td class="text-right"><b>10,34</b></td>
                                    </tr>
                                    <tr>
                                      <th><i class="fas fa-exchange-alt"></i> Movimentos (B-C):</th>
                                      <td class="text-right"><b>5,80</b></td>
                                    </tr>
                                  </table>
                                </div>
                              </div>
                              <table class="table table-sm table-borderless mb-0">
                                <tr class="table-info">
                                  <th style="width:50%">Valor final (A+B-C):</th>
                                  <td class="text-right"><b>216,34</b></td>
                                </tr>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="card card-success card-outline">
                          <div class="card-header">
                            <h3 class="card-title">
                              <small><i class="fas fa-edit"></i></small>
                              Transferências - reforço/sangria
                            </h3>
                          </div>
                          <div class="card-body">
                            <div class="d-flex flex-column" style="height: 260px">
                              <div class="mb-auto">
                                <div class="table-responsive">
                                  <table class="table table-sm table-striped">
                                    <tr>
                                      <th style="width:50%"><i class="fas fa-plus"></i> Reforço de dinheiro:</th>
                                      <td class="text-right"><b>250,30</b></td>
                                    </tr>
                                    <tr>
                                      <th><i class="fas fa-minus"></i> Sangria de dinheiro:</th>
                                      <td class="text-right"><b>10,34</b></td>
                                    </tr>
                                    <tr>
                                      <th><i class="fas fa-minus"></i> Sangria de cheque:</th>
                                      <td class="text-right"><b>5,80</b></td>
                                    </tr>
                                  </table>
                                </div>
                              </div>
                              <table class="table table-sm table-borderless mb-0">
                                <tr class="table-info">
                                  <th style="width:50%">Saldo atual:</th>
                                  <td class="text-right"><b>216,34</b></td>
                                </tr>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="card card-success card-outline">
                          <div class="card-header">
                            <h3 class="card-title">
                              <small><i class="fas fa-edit"></i></small>
                              Status do Caixa (GAVETA)
                            </h3>
                          </div>
                          <div class="card-body">
                            <div class="d-flex flex-column" style="height: 150px">
                              <div class="mb-auto">
                                <div class="table-responsive">
                                  <table class="table table-sm table-striped">
                                    <tr>
                                      <th style="width:20%"><i class="fab fa-font-awesome-flag"></i> Dinheiro:</th>
                                      <td class="text-left"><b>250,30</b></td>
                                    </tr>
                                    <tr>
                                      <th><i class="fas fa-money-check-alt"></i> Cheque:</th>
                                      <td class="text-left"><b>10,34</b></td>
                                    </tr>
                                    <tr>
                                      <th><i class="far fa-credit-card"></i> Cartão:</th>
                                      <td class="text-left"><b>5,80</b></td>
                                    </tr>
                                    <tr class="table-info">
                                      <th style="width:20%">Total gaveta:</th>
                                      <td class="text-left"><b>216,34</b></td>
                                    </tr>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                  </div>            
                </div>
              </div>
              <!-- /.card -->
            </div>
            </div>
          </div>
          
        </div>
        <!-- container-fluid -->
      </section>
      
      <div class="modal fade" id="modal-abrir">
        <form role="form" id="formAbrirCaixa" method="POST" th:action="@{/caixa/abrirCaixa}" th:object="${caixa}">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title"><small><i class="fas fa-lock-open"></i></small> Abertura de Caixa</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body pb-0">
                <div id="mensagemErroModalAbrirCaixa" layout:insert="~{mensagem_erro}"></div>
                <input type="hidden" th:field="*{numero}"></input>
                <input type="hidden" th:field="*{usuarioAbertura}"></input>
                <input type="hidden" th:field="*{status}"></input>
                <input type="hidden" th:field="*{valorVendas}"></input>
                <input type="hidden" th:field="*{valorRecebimentos}"></input>
                <input type="hidden" th:field="*{valorReforco}"></input>
                <input type="hidden" th:field="*{valorSangria}"></input>
                <input type="hidden" th:field="*{valorSaidas}"></input>
                <input type="hidden" th:field="*{valorEntradas}"></input>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label for="modalAbrirCaixaValorInicial" class="col-sm-4 col-form-label">Valor inicial</label>
                      <div class="col-sm-auto">             
                        <input id="modalAbrirCaixaValorInicial" type="text" class="form-control js-currency" th:field="*{valorInicial}"></input>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label for="modalAbrirCaixaData" class="col-sm-4 col-form-label">Data abertura</label>
                      <div class="col-sm-auto">             
                        <input id="modalAbrirCaixaData" readonly class="form-control-plaintext" type="text" 
                         th:field="*{{dataAbertura}}" th:classappend="${#fields.hasErrors('dataAbertura')} ? 'is-invalid'"></input>
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="card card-primary" >
                  <div class="card-header">
                    <h3 class="card-title">
                      <small><i class="fas fa-edit"></i></small>
                      Informações do caixa anterior
                    </h3>
                  </div>
                  <div class="card-body">
                    
                    <div class="row">
                      <div class="col-md-6">
                        <dl class="row">
                          <dt class="col-md-5">Nº do caixa</dt>
                          <dd class="col-md-7" th:text="${caixaAtual.numero}"></dd>
                          <dt class="col-md-5">Dt. Abertura</dt>
                          <dd class="col-md-7" th:text="${{caixaAtual.dataAbertura}}"></dd>
                          <dt class="col-md-5">Dt. Fechamento</dt>
                          <dd class="col-md-7" th:text="${{caixaAtual.dataFechamento}}"></dd>
                        </dl>    
                      </div>
                      <div class="col-md-6">
                        <dl class="row">
                          <dt class="col-md-5">Observações</dt>
                          <dd class="col-md-7"><a href="#">Visualize aqui</a><dd>
                          <dt class="col-md-5">Usu. abertura</dt>
                          <dd class="col-md-7" th:text="${caixaAtual.usuarioAbertura.nome}"></dd>
                          <dt class="col-md-5">Usu. fechamento</dt>
                          <dd class="col-md-6" 
                           th:text="${caixaAtual.usuarioFechamento!=null?caixaAtual.usuarioFechamento.nome:''}"></dd>
                        </dl>    
                      </div>
                      <div class="col-md-12 ">
                        <div class="d-flex flex-column">
                          <div class="mb-auto">
                            <div class="table-responsive">
                              <table class="table table-sm table-bordered ">
                                <thead  class="table-secondary">
                                  <tr>
                                    <th class="col-3">
                                      <span class="text-warning"><small><i class="fab fa-font-awesome-flag"></i></small></span> Valor Inicial
                                    </th>
                                    <th class="col-3">
                                      <span class="text-primary"><small><i class="fas fa-plus"></i></small></span> Entradas
                                    </th>
                                    <th class="col-3">
                                      <span class="text-danger"><small><i class="fas fa-minus"></i></small></span> Saídas
                                    </th>
                                    <th class="col-3">
                                      <span class="text-success"><small><i class="fas fa-cash-register"></i></small></span> Gaveta
                                    </th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td th:text="${{caixaAtual.valorInicial!=null?caixaAtual.valorInicial:'0,00'}}"></td>
                                    <td th:text="${{caixaAtual.valorEntradas!=null?caixaAtual.valorEntradas:'0,00'}}"></td>
                                    <td th:text="${{caixaAtual.valorSaidas!=null?caixaAtual.valorSaidas:'0,00'}}"></td>
                                    <td th:text="${{caixaAtual.valorGaveta!=null?caixaAtual.valorGaveta:'0,00'}}">
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    
                    </div>
                    
                  </div>
                  <div class="card-footer">
                    <small class="float-right">O valor final do caixa anterior sempre será o valor inicial do próximo caixa.</small>
                  </div>
                </div>
                
              </div>
              <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Sair</button>
                <button type="submit" class="btn btn-primary">Abrir</button>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </form>
      </div>
      <!-- /.modal -->
    
      <div class="modal fade" id="modal-fechar">
        <form role="form" id="formFecharCaixa" method="POST" th:action="@{/caixa/fecharCaixa/{id}(id=${caixaAtual.id})}">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title"><i class="fas fa-sync"></i> Fechamento de Caixa</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="callout callout-info">
                  <p>Antes de fechar o caixa é aconselhável fazer ao menos uma sangria de valores.</p>
                </div>
                <div class="card card-secondary" >
                  <div class="card-header">
                    <h3 class="card-title">
                      <small><i class="fas fa-edit"></i></small>
                      Informações do caixa corrente
                    </h3>
                  </div>
                  
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-6">
                        <dl class="row">
                          <dt class="col-md-5">Nº do caixa</dt>
                          <dd class="col-md-7" th:text="${caixaAtual.numero}"></dd>
                          <dt class="col-md-5">Dt. Abertura</dt>
                          <dd class="col-md-7" th:text="${{caixaAtual.dataAbertura}}"></dd>
                          <dt class="col-md-5">Dt. Fechamento</dt>
                          <dd class="col-md-7" th:text="${{caixaAtual.dataFechamento}}"></dd>
                        </dl>    
                      </div>
                      <div class="col-md-6">
                        <dl class="row">
                          <dt class="col-md-5">Observações</dt>
                          <dd class="col-md-7"><a href="#">Visualize aqui</a><dd>
                          <dt class="col-md-5">Usu. abertura</dt>
                          <dd class="col-md-7" th:text="${caixaAtual.usuarioAbertura.nome}"></dd>
                          <dt class="col-md-5">Usu. fechamento</dt>
                          <dd class="col-md-6"
                            th:text="${caixaAtual.usuarioFechamento!=null?caixaAtual.usuarioFechamento.nome:''}"></dd>
                        </dl>    
                      </div>
                      <div class="col-md-12 ">
                        <div class="d-flex flex-column">
                          <div class="mb-auto">
                            <div class="table-responsive">
                              <table class="table table-sm table-bordered ">
                                <thead  class="table-secondary">
                                  <tr>
                                    <th class="col-3">
                                      <span class="text-warning"><small><i class="fab fa-font-awesome-flag"></i></small></span> Valor Inicial
                                    </th>
                                    <th class="col-3">
                                      <span class="text-primary"><small><i class="fas fa-plus"></i></small></span> Entradas
                                    </th>
                                    <th class="col-3">
                                      <span class="text-danger"><small><i class="fas fa-minus"></i></small></span> Saídas
                                    </th>
                                    <th class="col-3">
                                      <span class="text-success"><small><i class="fas fa-cash-register"></i></small></span> Gaveta
                                    </th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td th:text="${{caixaAtual.valorInicial!=null?caixaAtual.valorInicial:'0,00'}}"></td>
                                    <td th:text="${{caixaAtual.valorEntradas!=null?caixaAtual.valorEntradas:'0,00'}}"></td>
                                    <td th:text="${{caixaAtual.valorSaidas!=null?caixaAtual.valorSaidas:'0,00'}}"></td>
                                    <td th:text="${{caixaAtual.valorGaveta!=null?caixaAtual.valorGaveta:'0,00'}}">
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                  </div>
                </div>
              </div>
              <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Sair</button>
                <button type="submit" class="btn btn-primary">Confirmar</button>
              </div>
              
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </form>
      </div>
      <!-- /.modal -->
      
      <form role="form" method="POST" th:action="@{/caixa/realizarSangria}" th:object="${movimentacao}">
        <div class="modal fade" id="modal-sangria">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title"><i class="fas fa-sync"></i> Realizar Sangria do Caixa</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div id="mensagemGeralModalSangria" layout:insert="~{mensagem_geral}"></div>
                <div id="mensagemErroModalSangria" layout:insert="~{mensagem_erro}"></div>
                <input type="hidden" th:field="*{caixa}"></input>
                <div class="card card-danger">
                  <div class="card-header">
                    <h3 class="card-title">
                      <small><i class="fas fa-edit"></i></small>
                      Movimentação de dinheiro entre CAIXA e CONTAS
                    </h3>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <input type="hidden" th:field="*{caixa}"></input>
                      <div class="col-md-12">
                        <div class="form-group row justify-content-end">
                          <label class="col col-form-label">Tipo de Movimento:</label>
                          <div class="col-md-9">
                            <select th:field="*{tipoMovimentacaoCaixa}" class="form-control select2" style="width: 100%;">
                              <option th:each="tipo : ${tipoMovimentacaoCaixaList}" th:value="${tipo}" 
                               th:text="${tipo.descricao}"></option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group row justify-content-end">
                          <label class="col col-form-label">Conta de Destino:</label>
                          <div class="col-md-9">
                            <select class="form-control select2" style="width: 100%;">
                              <option th:each="tipoConta : ${tipoContaList}" th:value="${tipoConta}" 
                               th:text="${tipoConta.descricao}"></option>
                            </select>
                          </div>
                        </div> 
                      </div>
                                            
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col col-form-label">Valor:</label>
                          <div class="col-md-6">
                            <input type="text" class="form-control js-currency" placeholder="Valor" 
                             th:field="*{valor}"></input>
                          </div>
                        </div> 
                      </div>
                      
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col col-form-label">Valor Disponível:</label>
                          <div class="col-md-6">
                            <input type="text" readonly="readonly" class="form-control-plaintext" 
                             th:value="${{caixaAtual.valorGaveta!=null?caixaAtual.valorGaveta:'0,00'}}"></input>
                          </div>
                        </div> 
                      </div>
                      
                      <div class="col-md-12">
                        <div class="form-group row">
                          <label class="col col-form-label">Motivo:</label>
                          <div class="col-md-9">
                            <input type="text" class="form-control" placeholder="Motivo" 
                             th:field="*{motivo}"></input>
                          </div>
                        </div>
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Sair</button>
                <button type="submit" class="btn btn-primary">Confirmar</button>
              </div>
              
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
      </form>
      <!-- </form> -->
      
      <form role="form" method="POST">
        <div class="modal fade" id="modal-reforco">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title"><i class="fas fa-sync"></i> Realizar Reforco do Caixa</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
              </div>
              <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Sair</button>
                <button type="submit" class="btn btn-primary">Confirmar</button>
              </div>
              
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
      </form>
      <!-- </form> -->
      
  </section>  
  
  <script layout:fragment="js-validator">
  	$(document).on('keyup', function(event) {
  	  // Number 13 is the "Enter" key on the keyboard
  	  if (event.keyCode === 112) { //f1
  	    // Cancel the default action, if needed
  	    event.preventDefault();
  	    // Trigger the button element with a click
  	    $('#linkComprovante')[0].click();
  	  } else if(event.keyCode === 113){
  		event.preventDefault();
  	    $('#linkRetornar')[0].click();
  	  }
  	});
  	
  	$(window).on('load',function(){
  		msg = $('#mensagemErroModalAbrirCaixa span').html();
  		if(msg){
  			$('#modal-abrir').modal('show');
  		} else {
  			msg = $('#mensagemErroModalSangria span').html();
  	  		if(msg){
  	  			$('#modal-sangria').modal('show');
  	  		}
  		}
  		
	});
  	
  	$('#ancora').on('click', '.js-abrir-caixa', function(event){
  		var botao = $(event.currentTarget);
		var url = botao.data('url-abrir-caixa');
		
		var response = $.ajax({
      		url: url,
      		type: 'GET'
  		});
		response.done(function(e){
			$('#loteForm').validate()
			$('#modal-abrir').find('#modalAbrirCaixaData').val(e.date);			
			$('#modal-abrir').modal('show');
		});
      	response.fail(function(e){
      		alert('Erro abrindo novo caixa.');
  		});
  	});
  	
  	$('#ancora').on('hidden.bs.modal', '#modal-abrir', function() {
  		$('#formAbrirCaixa').validate().resetForm();
  		$('#formAbrirCaixa').find('.is-invalid').removeClass('is-invalid');
  	});
  	
  	$('#ancora').on('shown.bs.modal', '#modal-abrir', function() {
  		setTimeout(function() {
  			var temp = Number($('#modalAbrirCaixaValorInicial').val().replace(",","."));
  			$('#modalAbrirCaixaValorInicial').val(temp);
  			$('#modalAbrirCaixaValorInicial').focus();}, 0);
  	});
  	
  	$('#modalAbrirCaixaData').rules('add', {
      required: true,
      customTime: true,
      messages: { 
          required: "Campo obrigatório.",
          customTime: "Forneça a data no formato dd/mm/aaaa hh:mm"
      }
    });
  </script>
    
</html>
