<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{principal}">
<head>
  <title th:text="#{mercadinho}"></title>
</head>

  <section layout:fragment="container">
  
    <div id="conteudo">
      <form id="caixaForm" role="form"  method="POST" th:action="@{/caixa}" th:object="${venda}">
        <div class="pt-2"></div>
        <section class="content">
          <div class="container-fluid">
            <div layout:insert="~{mensagem_geral}"></div>
            <div layout:insert="~{mensagem_erro}"></div>
            
            <div class="row">
              <div class="col-md-12">
                <div class="card card-default">
                  <!-- <div class="card-header"></div> -->
                  <div class="card-body">
                    <input type="hidden" th:field="*{id}"></input>
                    <input type="hidden" th:field="*{dataVenda}"></input>
                    <input type="hidden" th:field="*{subtotal}"></input>
                    <input type="hidden" th:field="*{total}"></input>
                    <input type="hidden" th:field="*{valorDesconto}"></input>
                    
                    <div class="row" >
                      <div class="col-6">
                        <div class="table-responsive">
                          <table class="table">
                            <tr>
                              <th class="lead mt-2" style="width:50%">Subtotal:</th>
                              <td id="subtotal" class="js-subtotal"><p class="mb-0" th:text="|R$ *{{subtotal}}|">R$ 0,00</p></td>
                            </tr>
                            <tr>
                              <th class="lead form-inline">
                                Desconto
                                <select id="desconto" class="js-desconto custom-select ml-1 mr-sm-2" th:field="*{desconto}" 
                                  th:attr="data-url-base-desconto=@{/caixa/{venda}/desconto(venda=${venda.id})}">
                                  <option th:each="desconto : ${opcoesDescontoList}" th:value="${desconto}" th:text="${desconto.descricao}"></option>
                                </select>
                              </th>
                              <td id="desconto-valor"><p class="mb-0" th:text="|R$ *{{valorDesconto}}|">R$ 0,00</p></td>
                            </tr>
                            <tr>
                              <th class="lead">Total:</th>
                              <td id="total"><h3 class="mb-0" th:text="|R$ *{{total}}|"></h3></td>
                            </tr>
                            <tr>
                              <th class="lead">Saldo:</th>
                              <td>
                                <div class="input-group input-group-lg">
                                  <input type="text" class="js-currency form-control" id="inputSaldo" th:field="*{saldo}" th:classappend="${#fields.hasErrors('saldo')} ? 'is-invalid'"></input>
                                </div>
                              </td>
                            </tr>
                          </table>
                          <div class="d-flex justify-content-between">
                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modalCancelamento">
                              Cancelar
                            </button>
                            <button type="submit" id="finalizar" class="btn btn-md btn-success">
                              <i class="far fa-credit-card"></i> 
                              Finalizar
                            </button>
                          </div>
                          
                        </div>
                      </div>
                      
                      <div class="col-6">
                        <div style="border-style: solid solid solid solid; border-width: 2px;border-color: #cbd3da; background-color: #fffed4">
                          <div class="chart">
                            <ul id="listaDeItens" data-widget="todo-list" class="items-list" style="height: 330px">
                              <th:block th:each="item, rowStat : *{itemList}">
                                <li class="item">
                                    <input type="hidden" th:field="*{itemList[__${rowStat.index}__].id}"></input>
                                    <input type="hidden" th:field="*{itemList[__${rowStat.index}__].produto}"></input>
                                    <input type="hidden" th:field="*{itemList[__${rowStat.index}__].quantidade}"></input>
                                    <input type="hidden" th:field="*{itemList[__${rowStat.index}__].valor}"></input>
                                    <div class="row align-items-end">
                                        <div class="col-md-4 text-left">
                                          <h6><b id="descricao" th:text="${item.produto.descricao}"></b></h6>
                                          <h6 id="codigo" th:text="${item.produto.codigo}"></h6>
                                        </div>
                                        <div class="col-md-4 text-center">
                                            <h6 id="quantidade" th:text="|${item.quantidade} X ${{item.valor}}|"></h6>
                                          </div>
                                          <div class="col-md-4 text-right">
                                            <h5 th:text="|R$ ${{item.valor}}|"></h5>
                                        </div>
                                    </div>
                                  </li>
                                  <li class="linha border-bottom"></li>
                               </th:block>
                            </ul>
                          </div>
                        </div>
                      </div>
            
                    </div>
                    
                  </div>
                  <div class="card-footer py-0">
                  </div>
                  
                </div>
                <!-- /.card -->
              </div>
            </div>
          </div>
        </section>
      </form>
    
      <div class="modal fade" id="modalCancelamento">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Selecione uma opção para o cancelamento</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
              <button type="button" class="btn btn-primary">Confirmar</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->
    </div>
  </section>
  
  <script layout:fragment="js-validator">
  	var currencyformatter = new Intl.NumberFormat('pt-BR', {
	  style: "currency",
	  currency: "BRL",
	  minimumFractionDigits: 2,
	  currencyDisplay: "symbol",
	});
  	
  	var decimalformatter = new Intl.NumberFormat('pt-BR', {
	  minimumFractionDigits: 2
	});
  	
  	$('#container').on('change', '.js-desconto', function(event) {
  		event.preventDefault();
  		
  		var seletor = $(event.currentTarget);
		var url = seletor.data('url-base-desconto');
		var opcao = seletor.find('option:selected');
		var desconto = opcao[0].value;
		
		if(!url.endsWith('/')){
			url += '/';
		}
		
		url += desconto;
		
		var response = $.ajax({
			url: url,
			type: 'GET'
		});
  		
  		response.done(function(e){
  			$('#conteudo').replaceWith(e);
		});
		
		response.fail(function(e){
			alert('Erro aplicando desconto');
		});
  	});
  	
  	$(document).ajaxComplete(function() {
		$('.js-currency').maskMoney({decimal:',', 
			thousands:'.', 
			allowZero:'true',
			formatOnBlur:false});
	});
  </script>
    
</html>
