<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{principal}">
<head>
  <title th:text="#{mercadinho}"></title>
</head>

  <section layout:fragment="container">
    <form role="form"  method="POST" th:action="@{/caixa}" th:object="${venda}">
      <!-- <header layout:insert="~{cabecalho}"></header> -->
      <div class="pt-2"></div>
      <header layout:insert="~{corpo}"></header>
    </form>  
  </section>
  
  <section layout:fragment="conteudo">
    <div class="row">
      <div class="col-md-6">
        <div class="bg-white py-2 px-3">
          <div class="table-responsive">
            <table class="table">
              <tr>
                <th class="lead">Total:</th>
                <td><h3 class="mb-0" th:text="|R$ *{{total}}|"></h3></td>
              </tr>
              <tr>
                <th class="lead">Pagamento:</th>
                <td id="subtotal"><h3 class="mb-0" th:text="|R$ *{{saldo}}|"></h3></td>
              </tr>
              <tr>
                <th class="lead mt-2" style="width:50%">Troco:</th>
                <td id="subtotal"><h3 class="mb-0" th:text="|R$ *{{troco}}|"></h3></td>
              </tr>
              
            </table>
          </div>
          
        </div>
        <div class="d-flex justify-content-between">
          <a class="btn btn-warning btn-lg btn-flat mt-4"
           th:href="@{/caixa/venda/{id}/comprovante(id=${venda.id})}">
            <i class="fas fa-print fa-lg mr-2"></i>
            Imprimir comprovante
          </a>
          <a class="btn btn-danger btn-lg btn-flat mt-4"
           th:href="@{/caixa}">
            <i class="fas fa-undo-alt fa-lg mr-2"></i>
            Retornar para o Caixa
          </a>
        </div>
      </div>
    </div>
  </section>
  
  <script layout:fragment="js-validator">
  </script>
    
</html>
