<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{principal}">
<head>
  <title th:text="#{mercadinho}"></title>
</head>

  <section layout:fragment="container">
    <form role="form"  method="POST" th:action="@{/caixa}" th:object="${venda}">
      <!-- <header layout:insert="~{cabecalho}"></header> -->
      <div class="pt-2"></div>
      <header layout:insert="~{corpo}"></header>
    </form>  
  </section>
  
  <section layout:fragment="conteudo">
    <div class="row">
    <div class="col-md-12">
    <div class="card card-default">
      <!-- <div class="card-header"></div> -->
      <div class="card-body">
      
        <div class="row" >
        
          <div class="col-md-6">
            <div class="table-responsive">
              <table class="table">
                <tr>
                  <th class="lead mt-2" style="width:50%">Subtotal:</th>
                  <td id="subtotal"><h3 class="mb-0" th:text="|R$ ${venda.subtotal}|"></h3></td>
                </tr>
                <tr>
                  <th class="lead">Desconto (0%):</th>
                  <td><p class="mb-0">R$ 0,00</p></td>
                </tr>
                <tr>
                  <th class="lead">Total:</th>
                  <td><h3 class="mb-0" th:text="|R$ ${venda.subtotal}|"></h3></td>
                </tr>
                <tr>
                  <th class="lead">Saldo:</th>
                  <td>
                    <div class="input-group input-group-lg">
                      <input type="text" class="form-control" id="inputSaldo"></input>
                    </div>
                  </td>
                </tr>
                
              </table>
            </div>
          </div>

          </div>
        </div>
        <!-- /.row -->
        <!-- <div class="card-footer py-0"></div> -->
      
    </div>
    <!-- /.card -->
    </div>
    </div>
  </section>
  
  <script layout:fragment="js-validator">
  </script>
    
</html>
