<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{principal}">
<head>
  <title th:text="#{mercadinho}"></title>
</head>

  <section layout:fragment="container">
    <form role="form"  method="POST" th:action="@{/caixa}" th:object="${venda}">
      <!-- <header layout:insert="~{cabecalho}"></header> -->
      <div class="pt-2"></div>
      <header layout:insert="~{corpo}"></header>
    </form>  
  </section>
  
  <section layout:fragment="conteudo">
    <div class="row">
    <div class="col-md-12">
    <div class="card card-default">
      <!-- <div class="card-header"></div> -->
      <div class="card-body">
      
        <div class="row" >
        
          <div class="col-md-6">
            <div class="table-responsive">
              <table class="table">
                <tr>
                  <th class="lead">Total:</th>
                  <td><h3 class="mb-0" th:text="|R$ ${venda.total}|"></h3></td>
                </tr>
                <tr>
                  <th class="lead">Pagamento:</th>
                  <td id="subtotal"><h3 class="mb-0" th:text="|R$ ${venda.saldo}|"></h3></td>
                </tr>
                <tr>
                  <th class="lead mt-2" style="width:50%">Troco:</th>
                  <td id="subtotal"><h3 class="mb-0" th:text="|R$ ${venda.troco}|"></h3></td>
                </tr>
                
              </table>
            </div>
          </div>
          
          <div class="col-md-6">
            <div style="border-style: solid; border-width: 2px;border-color: #cbd3da; background-color: #fffed4">
              <div class="chart" style="height: 330px">
                
              </div>
            </div>
          </div>

          </div>
        </div>
        <!-- /.row -->
        <!-- <div class="card-footer py-0"></div> -->
      
    </div>
    <!-- /.card -->
    </div>
    </div>
  </section>
  
  <script layout:fragment="js-validator">
  </script>
    
</html>
