<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{principal}">
<head>
  <title th:text="#{mercadinho}"></title>
</head>

  <!-- <style layout:fragment="extra-style">
    .select2-selection__rendered {
      font-family: Arial, Helvetica, sans-serif !important;
      font-size: 20px !important;
    }
  </style> -->

  <section layout:fragment="container">
    
    <form id="caixaForm" role="form"  method="POST" th:action="@{/caixa}" th:object="${venda}">
      <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"></input>
      <input type="hidden" th:field="*{id}"></input>
      <input type="hidden" th:field="*{dataVenda}"></input>
      <input type="hidden" th:field="*{subtotal}"></input>
      <input type="hidden" th:field="*{total}"></input>
      <input type="hidden" th:field="*{valorDesconto}"></input>
      <input type="hidden" th:field="*{status}"></input>
      <input type="hidden" th:field="*{cliente}"></input>
      
      <div class="content-header" style="padding-left:0px; padding-right:0px; padding-bottom:5px">
        <div class="container-fluid">
          <!-- <div layout:insert="~{mensagem_geral}"></div>
          <div layout:insert="~{mensagem_erro}"></div> -->
          <div class="row mb-2" layout:fragment="cabecalho">
            <div class="col-sm-8 m-0">
              <ul class="js-buscar-produto" 
               th:attr="data-url-buscar-item=@{/caixa/buscarItem}, data-url-selecionar-item=@{/caixa/incluir},
               data-url-selecionar-balanca=@{/caixa/balanca}"
               style="width: 100%;"></ul>
            </div>
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
      </div>
      
      <section class="content">
        
        <div class="container-fluid">            
          <div class="row">
            <div class="col-md-8">
              <!-- <div style="border-style: solid solid solid solid; border-width: 2px;border-color: #cbd3da; background-color: #fffed4"> -->
                <div  style="border-style: solid solid solid solid; border-width: 2px;border-color: #aaaaaa;background-color: #fffed4">
                  
                  <div class="bg-white pt-3 px-2" style="border-style: none none solid none; border-width: 2px; border-color: #cbd3da;"><!-- #cbd3da -->
                    <ul class="items-list" style="height: 2em; margin-bottom: 0px; overflow: hidden">
                      <li>
                        <div class="row">
                          <div class="col-md-1 text-left">
                            <!-- <h4 class="mb-0">
                              Produto
                            </h4> -->
                            <label class="text-center">#</label>
                          </div>
                          <div class="col-md-4 text-left">
                            <!-- <h4 class="mb-0">
                              Produto
                            </h4> -->
                            <p>Produto</p>
                          </div>
                          <div class="col-md-3 text-center">
                            <!-- <h4 class="mb-0">
                              Quantidade x Preço Unitário
                            </h4> -->
                            <p>Qtd. x Preço Un.</p>
                          </div>
                          <div class="col-md-3 text-right">
                            <!-- <h4 class="mb-0">
                              Total Item
                            </h4> -->
                            <p>Total Item</p>
                          </div>
                          <div class="col-md-1"></div>
                        </div>
                      </li>
                    </ul>
                  </div>
                  
                  
                  <div class="overlay-wrapper">
                    
                    <ul id="listaDeItens" data-widget="todo-list" class="items-list" style="height: 330px;overflow: scroll; overflow-x: hidden">
                      <li th:if="*{#lists.isEmpty(itemList)}">
                         <div class="col-md-12">
                          <p class="mt-2">Nenhum item incluído.</p> 
                         </div>
                      </li>
                      <th:block th:each="item, rowStat : *{itemList}">
                          <input type="hidden" th:field="*{itemList[__${rowStat.index}__].produto}"></input>
                          <input type="hidden" th:field="*{itemList[__${rowStat.index}__].quantidade}"></input>
                          <input type="hidden" th:field="*{itemList[__${rowStat.index}__].valor}"></input>
                          <input type="hidden" th:field="*{itemList[__${rowStat.index}__].venda}"></input>
                          <input type="hidden" th:field="*{itemList[__${rowStat.index}__].valorTotal}"></input>
                          <li class="item">
                            <div class="row align-items-end">
                             <div class="col-md-1 text-left">
                              <h6 th:text="${rowStat.index + 1}"></h6>  
                             </div>
                             <div class="col-md-4 text-left">
                              <h6 id="codigo" th:text="${item.produto.codigo}"></h6>
                              <h6><b id="descricao" th:text="${item.produto.descricao}"></b></h6>  
                             </div>
                            <div class="col-md-3 text-center">
                               <h6 id="quantidade" th:text="|${{item.quantidade}} ${item.produto.unitario} x ${{item.valor}}|"></h6>
                            </div>
                            <div class="col-md-3 text-right">
                               <h5 th:text="|R$ ${{item.valorTotal}}|"></h5>
                            </div>
                            <div class="col-md-1 text-center">
                              <h6>
                               <a data-toggle="modal" data-target="#modalConfirmarRemocaoItem" class="text-muted btn-sm"
                                th:attr="data-codigo=${item.produto.codigo}, data-descricao=${item.produto.descricao}"
                                title="Retirar item" rel="tooltip" data-placement="top"><!--  -->
                                <i class="fas fa-times-circle"></i>
                               </a>
                              </h6>
                            </div>
                            </div>
                          </li>
                        <li class="linha border-bottom">
                        </li>
                      </th:block>
                    </ul>
                    
                  </div>
                  <!-- <ul class="items-list" >
                      <li>Nenhum item incluído
                      </li>
                     </ul> -->
                </div>
                <div id="loadingDiv"></div>
            </div>
          
          <div class="col-md-4">
            
            <div class="d-flex flex-column" style="height: 400px;">
              <div class="mb-auto">
               
                <div class="d-flex ">
                  <button type="button" th:attr="data-url-base=@{/caixa/pagamento}"
                   id="botaoPagamento" class="js-pagamento btn btn-success btn-lg btn-flat" th:disabled="*{subtotal==0}" >
                    <i class="fas fa-dollar-sign"></i>
                    Efetuar Pagamento
                  </button>
                </div>
              </div>
              <div class="bg-gray py-2 px-3">
                <h4 class="mb-0">
                  <!-- <small> -->Subtotal<!-- </small> -->
                </h4>
                <h1 class="mt-0" th:text="|R$ *{{subtotal}}|">
                </h1>
              </div>
             </div>
            </div>
          
          </div>
        </div>
      </section>
              
      <div class="modal" id="modalPagamento" 
       tabindex="-1" data-keyboard="true"
       role="document" aria-labelledby="..." aria-hidden="true"><!-- data-keyboard="true" data-backdrop="static" -->
       <div layout:insert="~{mensagem_erro}"></div>
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title"><i class="fas fa-dollar-sign"></i> Pagamento</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body pb-0">
              <div class="row" >
                <!-- <div class="col-6">
                  <div class="bg-default py-2 px-3 mt-4">
                    <h4 class="mb-0">
                      <small>Para selecionar um cliente <a data-toggle="modal" data-target="#modalCliente" href="#">
                            clique aqui
                           </a></small>
                    </h4>
                    <input id="nenhumClienteSelecionado" th:unless="*{cliente}"
                     placeholder="Nenhum cliente selecionado." 
                     class="form-control" 
                     oninput="this.className = ''" name="fname"
                     readonly="readonly" th:classappend="${#fields.hasErrors('cliente')} ? is-invalid"></input>
                     
                    <div class="row" id="clienteSelecionado" th:if="*{cliente}">hidden="hidden"
                      <div class="col-12">
                       <label class="text-success">Cliente selecionado</label><br/>
                       <a href="javascript:void(0)" class="product-title" id="clienteSelecionadoNome"></a>
                       
                       <a data-toggle="modal" class="js-remover-cliente float-right text-muted btn-sm"
                        th:attr="data-url-remover-cliente=@{/caixa/removerCliente}"
                        title="Remover" rel="tooltip" data-placement="top">
                        <i class="fas fa-times-circle"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class="bg-default py-2 px-3 mt-4">
                    <a href="#" data-toggle="modal" data-target="#modalDesconto"><i class="fas fa-tag"></i> desconto</a>
                  </div>
                </div> -->
                <div class="col-12">
                  
                  <div class="bg-default py-2 px-3">
                    <h4 class="mb-0">
                      <small>Forma de pagamento</small>
                    </h4>
                    
                    <div class="form-group clearfix mt-1" style="vertical-align: bottom;">
                      <th:block th:each="tipoVenda, rowStat : ${tipoVendaList}">
                        <div class="icheck-primary d-inline" th:attr="data-url-forma-pagamento=@{/caixa/formaPagamento}">
                          <input type="radio" th:id="|radioPrimary__${rowStat.index+1}__|" name="r1" th:value="${tipoVenda}" th:field="*{tipoVenda}">
                          <label th:for="|radioPrimary__${rowStat.index+1}__|">
                            [[${tipoVenda.descricao}]]
                          </label>
                        </div>
                      </th:block>
                    </div>
                  </div>
                  
                  <div class="bg-default py-2 px-3">
                    <h4 class="mb-0">
                      <small>Para selecionar um cliente <a data-toggle="modal" data-target="#modalCliente" href="#">
                            clique aqui
                           </a></small>
                    </h4>
                    <input id="nenhumClienteSelecionado" th:unless="*{cliente}"
                     placeholder="Nenhum cliente selecionado." 
                     class="form-control" 
                     oninput="this.className = ''" name="fname"
                     readonly="readonly" th:classappend="${#fields.hasErrors('cliente')} ? is-invalid"></input>
                     
                    <div class="row" id="clienteSelecionado" th:if="*{cliente}"><!-- hidden="hidden" -->
                      <div class="col-12">
                       <label class="text-success">Cliente selecionado</label><br/>
                       <a href="javascript:void(0)" class="product-title" id="clienteSelecionadoNome">[[*{cliente.nome}]]</a>
                       
                       <a data-toggle="modal" class="js-remover-cliente float-right text-muted btn-sm"
                        th:attr="data-url-remover-cliente=@{/caixa/removerCliente}"
                        title="Remover" rel="tooltip" data-placement="top">
                        <i class="fas fa-times-circle"></i></a>
                      </div>
                    </div>
                  </div>
                  
                  <div class="bg-default py-2 px-3">
                    <div class="row" th:if="*{valorDesconto}>0">
                      <div class="col-4">
                        <h4 class="mb-0">
                          <small>Subtotal</small>
                        </h4>
                        <p class="mt-0">
                          [[*{{subtotal}}]]
                        </p>
                      </div>
                      <div class="col-4">
                        <h4 class="mb-0">
                          <small>Desconto</small>
                        </h4>
                        <p class="mt-0 text-danger">
                          -[[*{{valorDesconto}}]]
                        </p>
                      </div>
                      <div class="col-4 text-right">
                        <h4 class="mb-0">
                          <small>Total</small>
                        </h4>
                        <h2 class="mt-0">
                          [[*{{total}}]]
                        </h2>
                      </div>
                    </div>
                    <div class="row" th:unless="*{valorDesconto}>0">
                       <div class="col-12 text-left">
                        <h4 class="mb-0">
                          <small>Total</small>
                        </h4>
                        <h2 class="mt-0">
                          [[*{{total}}]]
                        </h2>
                      </div>
                    </div>
                    <small th:if="*{tipoVenda==T(com.kaue.enumeration.TipoVenda).ESPECIE}"><a href="#" data-toggle="modal" data-target="#modalDesconto"><i class="fas fa-tag"></i> desconto</a></small>
                  </div>
                  <div class="bg-default py-2 px-3 bg-saldo" th:if="*{tipoVenda==T(com.kaue.enumeration.TipoVenda).ESPECIE}">
                    <div class="row">
                      <div class="col-12">
                        <h4 class="mb-0">
                          <small>Saldo</small>
                        </h4>
                        <input type="text" id="inputSaldo" class="form-control form-control-lg js-currency input_saldo" 
                        th:field="*{saldo}" th:classappend="${#fields.hasErrors('saldo')} ? is-invalid"
                        autocomplete="off"></input>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">
                <i class="fas fa-undo-alt"></i>
                Voltar
              </button>
              <button type="submit" id="finalizar" class="btn btn-md btn-primary">
                <i class="fas fa-money-check-alt"></i> 
                Finalizar
              </button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->
      
      <div class="modal" id="modalDesconto" tabindex="-1" role="dialog" aria-labelledby="modalDescontoLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Escolha uma opção</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Desconto
              <select id="desconto" class="custom-select ml-1 mr-sm-2 text-right" th:field="*{desconto}" 
                th:attr="data-url-aplicar-desconto=@{/caixa/desconto}">
                <option th:each="desconto : ${opcoesDescontoList}" th:value="${desconto}" th:text="${desconto.descricao}"></option>
              </select>
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-undo-alt"></i> Voltar</button>
              <button type="button" class="btn btn-primary js-desconto"><i class="fas fa-check-circle"></i> Aplicar</button>
            </div>
          </div>
        </div>
      </div>
      <!-- /.modal -->
    </form>
    
    <div class="modal" id="modalCliente" tabindex="-1">
      <!-- <form id="clienteForm" role="form" th:object="${filtro}"> -->
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            
            <div class="modal-header">
              <h4 class="modal-title">Selecione um Cliente</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <!-- <div class="overlay d-flex justify-content-center align-items-center">
                <i class="fas fa-2x fa-sync fa-spin"></i>
            </div> -->
              <div class="row mb-3">
                <div class="col-md-8">
                  <div class="input-group">
                    <input id="campoBuscaCliente" class="form-control" 
                      placeholder="Qual cliente você está procurando?" autofocus="autofocus"
                      /><!-- th:field="*{termo}" -->
                    <div class="input-group-append">
                      <button type="button" class="btn btn-default js-buscar-cliente"
                      th:attr="data-url-selecionar-cliente2=@{/caixa/buscarCliente2}">Pesquisar
                        <!-- <i class="fas fa-search"></i> -->
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <table id="tabelaCliente" class="table table-bordered table-hover">
                <thead  style="background-color: #fffed4">
                  <tr>
                    <!-- <th class="text-center col-1">Código</th> -->
                    <th>Cliente</th>
                    <th class="text-center col-3">Telefone</th>
                    <th class="text-center col-3">Email</th>
                    <th class="text-center col-1">Ação</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="cliente : ${clientes}">
                    <!-- <td class="text-center" th:text="${cliente.id}"></td> -->
                    <td th:text="${cliente.nome}"></td>
                    <td class="text-center" th:text="${cliente.telefone}"></td>
                    <td class="text-center" th:text="${cliente.email}"></td>
                    <td class="text-center">
                      <button type="button" class="btn btn-success btn-xs js-selecionar-cliente"
                       th:attr="data-url-selecionar-cliente=@{/caixa/selecionarCliente}, data-id=${cliente.id}">Selecionar</button>
                    </td>
                  </tr>
                  <!-- <tr th:if="${#lists.isEmpty(clientes)}">
                    <td colspan="5">Nenhum cliente foi encontrado.</td>
                  </tr> -->
                </tbody>
              </table>
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Voltar</button>
              <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      <!-- </form> -->
      </div>
      <!-- /.modal -->
        
    <div class="modal" id="modalBalanca" tabindex="-1" data-keyboard="true">
      <form id="itemForm" role="form" method="POST" th:action="@{/caixa/incluir}" th:object="${item}">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"></input>
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Informe o peso</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="row">
                <input type="hidden" id="inputCodigoProduto" th:field="*{produto.codigo}"></input>
                <input type="hidden" id="inputUnitario" th:field="*{produto.unitario}"></input>
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="col-form-label">Produto</label>
                    <p id="descricaoProduto" th:text="*{produto.descricao}">Descrição do Produto</p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="inputQuantidade" class="col-form-label">Peso</label>
                    <input type="text" id="inputQuantidade" th:field="*{quantidade}" class="form-control js-peso"></input>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="inputValorQuilo" class="col-form-label">Valor Kg</label>
                    <input type="text" readonly="readonly" id="inputValorQuilo" th:field="*{produto.valorDeVenda}" class="form-control"></input>
                  </div>
                </div>
                
             </div>
            </div>
            <div class="modal-footer justify-content-between">
             <button type="button" class="btn btn-md btn-secondary" data-dismiss="modal"><i class="fas fa-arrow-circle-left"></i> Cancelar</button>
             <button type="button" class="btn btn-md btn-primary js-selecionar-item-balanca" 
             th:attr="data-url-base=@{/caixa/incluir/}"><i class="fas fa-check-circle"></i> [[#{incluir}]]</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </form>
    </div>
    <!-- /.modal -->
    
    <div class="modal fade" id="modalConfirmarRemocaoItem" tabindex="-1" data-keyboard="false" data-backdrop="static">
      <div class="modal-dialog">
        <!-- <form th:attr="data-url-base=@{/titulos}" method="POST"> -->
          <input type="hidden" name="_method" value="DELETE"></input>
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Retirar Item</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Deseja realmente retirar o item da lista?</p>
            </div>
            <div class="modal-footer justify-content-between">
             <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-arrow-circle-left"></i> Cancelar</button>
             <a th:attr="data-url-base=@{/caixa/excluir/}" class="js-remover btn btn-md btn-primary"><i class="fas fa-check-circle"></i> Retirar</a>
            </div>
          </div>
          <!-- /.modal-content -->
        <!-- </form> -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    
  </section>
  
  <script layout:fragment="js-validator" th:inline="javascript">
  $(function(){
	  
	  configuraBarraPesquisa();
    	
  	var currencyformatter = new Intl.NumberFormat('pt-BR', {
  	  style: "currency",
  	  currency: "BRL",
  	  minimumFractionDigits: 2,
  	  currencyDisplay: "symbol",
  	});
  	
  	var decimalformatter = new Intl.NumberFormat('pt-BR', {
  	  minimumFractionDigits: 2
  	});
  	
  	$('#ancora').on('shown.bs.modal', '#modalBalanca', function(event){
    	$('#inputQuantidade').maskMoney({
    		precision: 3,
    		decimal:',', 
    		thousands:'.', 
    		allowZero:'true',
    		formatOnBlur:false});
    	
    	setTimeout(function() {
    		$('#inputQuantidade').focus();
      	}, 0);
    });
    
    $('#ancora').on('shown.bs.modal', '#modalPagamento', function(event){
    	//$('#radioPrimary1').prop("checked", true);
    	$('#inputSaldo').maskMoney({
    		decimal:',',
    		thousands:'.', 
  			allowZero:'true',
  			formatOnBlur:false});
    	
    	setTimeout(function() {
    		$('#inputSaldo').val('0.00');
    		$('#inputSaldo').trigger('focus');
      	}, 0);
    });
    
    $('#ancora').on('shown.bs.modal', '#modalCliente', function(event){
    	setTimeout(function() {
    		$('#campoBuscaCliente').trigger('focus');
      }, 0);
    	$('#tabelaCliente').DataTable( {
    		paging: true,
	      pageLength: 5,
	      lengthChange: true,
	      lengthMenu: [ 5, 10, 15, 20 ],
	      searching: false,
	      info: true,
	      autoWidth: false,
	      responsive: true,
	      aaSorting: [],
	      columnDefs:[{ "orderable": false, "targets": [-1] }],
	      ordering: true,
	      language: {
	          lengthMenu: "Mostrar _MENU_ registro por página",
	          info: "Total de registros: _MAX_",
	          infoEmpty: "Nenhum registro encontrado",
	          infoFiltered: "teste",
	          search: "Pesquisa",
	          zeroRecords:    "Nenhum cliente encontrado",
	          paginate: {
	              first:      "Primeiro",
	              last:       "Último",
	              next:       "Próximo",
	              previous:   "Anterior"
	          }
	      },
	      destroy: true
    	});
    });
    
    function configuraBarraPesquisa() {
  		var seletor = $('.js-buscar-produto');
  		var url = seletor.data('url-buscar-item');
  		
  		$(seletor).select2({
        language: "pt-BR",
    	  ajax: {
    	    url: url,
    	    dataType: 'json',
    	    delay: 250,
    	    data: function (params) {
    	      return {
    	        q: params.term, // search term
    	        page: params.page || 1 
    	      };
    	    },
    	    processResults: function (data, params) {
    	      // parse the results into the format expected by Select2
    	      // since we are using custom formatting functions we do not need to
    	      // alter the remote JSON data, except to indicate that infinite
    	      // scrolling can be used
    	      params.page = params.page || 1;
  
    	      return {
    	        results: data.items,
    	        pagination: {
    	          more: (params.page * data.page_size) < data.total_count
    	        }
    	      };
    	    },
    	    cache: true
    	  },
    	  placeholder: 'Digite aqui',
    	  minimumInputLength: 1,
    	  allowClear: true,
    	  templateResult: formatRepo,
    	  templateSelection: formatRepoSelection,
    	  multiple: true
    	});
  		
  		$(seletor).select2('focus');
  	}

  	function formatRepo (repo) {
  	  if (repo.loading) {
  	    return repo.text;
  	  }

  	/*var $container = $(
  	    "<div class='select2-result-repository clearfix'>" +
  	      "<div class='select2-result-repository__avatar'><img id='image' style='height:60px' src='' /></div>" +
  	      "<div class='select2-result-repository__meta'>" +
  	      	"<div class='select2-result-repository__description' id='codigo'></div>" +
  	        "<div class='select2-result-repository__title'></div>" +
  	      	"<div class='select2-result-repository__forks'></div>" +
  	      	/* "<div class='select2-result-repository__description' id='categoria'><i class='fa fa-flash'></i> </div>" + */
  	        /* "<div class='select2-result-repository__statistics'>" +
  	      		"<div class='select2-result-repository__forks'></div>" +
  	    		/*"<div class='select2-result-repository__stargazers'><i class='fa fa-star'></i> </div>" +
  	          "<div class='select2-result-repository__watchers'><i class='fa fa-eye'></i> </div>" +	
  	        "</div>" + 
  	      "</div>" +
  	    "</div>"
  	  ); */
  	  
  		var $container = $(
  	  	"<li class='products-list product-list-in-card  py-2 item'>"+
          "<div class='product-img'>"+
            "<img id='image' src='' alt='Product Image'>"+
          "</div>"+
          "<span id='preco' class='badge badge-warning float-right'></span>"+
          "<div class='product-info'>"+
          	"<span class='product-description'></span>"+
            "<span class='product-title mb-0'></span>"+
          "</div>"+
        "</li>"
  	  );

  	  $container.find("#image").attr('src', 'data:image/png;base64,'+repo.imagemBase64);
  	  $container.find(".product-title").text(repo.descricao);
  	  $container.find("#preco").text(currencyformatter.format(repo.valorDeVenda)+' '+repo.unitario);
  	  $container.find(".product-description").text('Cod.: '+repo.codigo);

  	  return $container;
  	}

  	function formatRepoSelection (repo) {
  	  return repo.full_name || repo.text;
  	}
    
    $('#ancora').on('hidden.bs.modal', '#modalPagamento', function(event){
    	$('.js-buscar-produto').select2('focus');
    });
    
    $('#ancora').on('hidden.bs.modal', '#modalBalanca', function(event){
    	$('.js-buscar-produto').select2('focus');
    });
    
    $('#ancora').on('click', '.js-buscar-produto', function(event){
    	console.log('clicou na barra de pesquisa de produtos');
    });
  	
 	// Execute a function when the user releases a key on the keyboard
  	$(document).on('keyup', function(event) {
  	  // Number 13 is the "Enter" key on the keyboard
  	  if (event.keyCode === 113) {
  	    // Cancel the default action, if needed
  	    //event.preventDefault();
  	    // Trigger the button element with a click
  	    $('#botaoPagamento').click();
  	    
  	  }
  	});
 	
 	// Execute a function when the user releases a key on the keyboard
  	$(document).on('keyup', function(event) {
  	  // Number 13 is the "Enter" key on the keyboard
  	  if (event.keyCode === 112) {
  	    // Cancel the default action, if needed
  	    event.preventDefault();
  	    // Trigger the button element with a click
  	  	$('.js-buscar-produto').select2('focus');
  	  }
  	});
 
 	// Execute a function when the user releases a key on the keyboard
  	$('#modalPagamento').on('keyup', function(event) {
  	  // Number 13 is the "Enter" key on the keyboard
  	  console.log(event.keyCode);
  	  if (event.keyCode === 27) { //Esc
  	    // Cancel the default action, if needed
  	    console.log('Esc:'+event.keyCode);
  	    event.preventDefault();
  	    // Trigger the button element with a click
  	  	$(this).modal('hide');
  	  }
  	});
  	
  	
  	
    $('#ancora').on('select2:select','.js-buscar-produto', function(e) {

    	var data = e.params.data;
    	var seletor = $(e.currentTarget);
    	    	
    	if(data.unitario == 'Kg') {
    		mostrarModalBalanca(e);
    		$('.js-buscar-produto').find('option').replaceWith();
    	} else {
      		var url = seletor.data('url-selecionar-item');
      		var codigo = data.codigo;
        	var unitario = data.unitario;
        	var quantidade = 1;
      		
      		var item = {
      	  	      "produto" : {
      	  	    	  "codigo" : codigo,
      	  	    	  "unitario" : unitario
      	  	      },
      	  	      "quantidade" : quantidade
      	  	   };
      	
        	//console.log(JSON.stringify(item));

        	var response = $.ajax({
        		url: url,
        		type: 'POST',
        		contentType : 'application/json; charset=utf-8',
        		data: JSON.stringify(item),
        		/* beforeSend: function(){
        			$('#loadingDiv').html('<div class="overlay"><i class="fas fa-3x fa-sync-alt fa-spin"></i><div class="text-bold pt-2">Atualizando lista...</div></div>');
        		}, */
        		success: function(e){
          		$('#caixaForm').replaceWith(e);
      				$('#listaDeItens').scrollTop(330);
              //$('#loadingDiv').html('<div class="overlay"><i class="fas fa-3x fa-sync-alt fa-spin"></i><div class="text-bold pt-2">Atualizando lista...</div></div>');	
              $('#loadingDiv').html('<div class="spinner-border" role="status"><span class="sr-only">Loading...</span></div>');	
            },
        		error: function(){
        			alert('Erro incluindo item');
        		}
    			});
        	
        /* response.done(function(e){
        	console.log(e);
        	setTimeout(function() {
        		$('#caixaForm').replaceWith(e);
    				$('#listaDeItens').scrollTop(330);
    	    }, 100);
    		}); */
        /* response.fail(function(e){
        		alert('Erro incluindo item');
    		});  */ 		
    	}
    	
    });
    
    $('#ancora').on('click', '.js-selecionar-item-balanca', function(event){
    	var botao = $(event.currentTarget);
    	var url = botao.data('url-base');
    	
    	var codigo = $('#modalBalanca').find('input#inputCodigoProduto').val();
    	var quantidade = $('#modalBalanca').find('input#inputQuantidade').val().replace(',','.');
    	var unitario = $('#modalBalanca').find('input#inputUnitario').val();
    	
    	var item = {
    	  	      "produto" : {
    	  	    	  "codigo" : codigo,
    	  	    	  "unitario" : unitario
    	  	      },
    	  	      "quantidade" : quantidade
    	  	   };
      	
      	var response = $.ajax({
      		url: url,
      		type: 'POST',
      		contentType : 'application/json; charset=utf-8',
      		data: JSON.stringify(item),
      		success: function(e) {
      			$('#modalBalanca').modal('hide');
      			$('#caixaForm').replaceWith(e);
      			$('#listaDeItens').scrollTop(330);
      			$('#loadingDiv').html('<div class="spinner-border" role="status"><span class="sr-only">Loading...</span></div>');
      		},
      		error: function() {
      			alert('Erro incluindo item');
      		}
  		});		
    });
    
    $('#ancora').on('click','.js-buscar-cliente', function(e) {

    	var botao = $(e.currentTarget);
  		var url = botao.data('url-selecionar-cliente2');
  		/* if(!url.endsWith('/')){
    		url += '/';
    	} */
    	url += '?termo='+$('#campoBuscaCliente').val();
      	
      	var response = $.ajax({
      		url: url,
      		type: 'PUT'
  		});
      	
      	response.done(function(e){
      		var termo = $('#campoBuscaCliente').val();
      		$('#modalCliente').modal('hide');
      		$('#modalCliente').replaceWith(e);
      		$('#campoBuscaCliente').val(termo);
      		$('#modalCliente').modal('show');
  		});
      	response.fail(function(e){
      		alert('Erro incluindo cliente');
  		});
    	
    });
    
    $('#ancora').on('click','.js-selecionar-cliente', function(e) {

    	var botao = $(e.currentTarget);
  		var url = botao.data('url-selecionar-cliente');
  		var id = botao.data('id');
  		if(!url.endsWith('/')){
    		url += '/';
    	}
  		url += id;
      	
      	var response = $.ajax({
      		url: url,
      		type: 'PUT'
  		});
      	
      	response.done(function(e){
      		$('#modalCliente').modal('hide');
      		$('#modalPagamento').modal('hide');
      		$('#caixaForm').replaceWith(e);
      		//$('#clienteSelecionadoNome').html(e.nome);
      		//$('#clienteSelecionado').removeAttr('hidden');
      		//$('#nenhumClienteSelecionado').attr('hidden', 'hidden');
      		$('#modalPagamento').modal('show');
      		
    		});
      	response.fail(function(e){
      		alert('Erro incluindo cliente');
  			}); 
    	
    });
    
 // Execute a function when the user releases a key on the keyboard
  	$('#ancora').on('keyup', '#campoBuscaCliente', function(event) {
  	  // Number 13 is the "Enter" key on the keyboard
  	  if (event.keyCode === 13) {
  	    // Cancel the default action, if needed
  	    //event.preventDefault();
  	    // Trigger the button element with a click
  	    $('.js-buscar-cliente').click();
  	  }
  	});
    
    $('#ancora').on('click','.js-remover-cliente', function(e) {

    	var botao = $(e.currentTarget);
  		var url = botao.data('url-remover-cliente');
      	
    	var response = $.ajax({
    		url: url,
    		type: 'PUT'
  		});
      	
    	response.done(function(e){
    		/* $('#clienteSelecionado').attr('hidden','hidden');
    		$('#nenhumClienteSelecionado').removeAttr('hidden'); */
    		
    		$('#modalPagamento').modal('hide');
    		$('#caixaForm').replaceWith(e);
    		$('#modalPagamento').modal('show');
  		});
    	
    	response.fail(function(e){
    		alert('Erro excluindo cliente');
  		}); 
    	
    });
    
    function mostrarModalBalanca(e) {
    	e.preventDefault();
    	var data = e.params.data;
    	var seletor = $(e.currentTarget);
    	var url = seletor.data('url-selecionar-balanca');
    	
    	if(!url.endsWith('/')){
			url += '/';
		}
    	url += data.codigo;
    	var response = $.ajax({
			url: url,
			type: 'PUT'
		});
    	
    	response.done(function(e){
			$('#modalBalanca').replaceWith(e);
			$('#modalBalanca').modal('show');
		});
    	response.fail(function(e){
			alert('Erro pesando item');
		});
    }
    
     
    
	$('#ancora').on('show.bs.modal', '#modalConfirmarRemocaoItem', function(event){
    	var button = $(event.relatedTarget); // Button that triggered the modal
    	var codigo = button.data('codigo'); // Extract info from data-* attributes
    	var descricao = button.data('descricao');
    	var modal = $(this);
    	var a = modal.find('a.js-remover');
    	var url = a.data('url-base');
    	
    	if(!url.endsWith('/')){
    		url += '/';
    	}
    	
    	a.attr('href',url + codigo);
    	modal.find('.modal-body p').html();
    	/* $container = $(
    	  	  	"Deseja realmente excluir o item <strong>"+descricao+"</strong> da lista?'" +
    	  	  	"<li class='products-list product-list-in-card  py-2 item'>"+
    	          "<div class='product-img'>"+
    	            "<img id='image' src='' alt='Product Image'>"+
    	          "</div>"+
    	          "<span id='preco' class='badge badge-warning float-right'></span>"+
    	          "<div class='product-info'>"+
    	          	"<span class='product-description'></span>"+
    	            "<span class='product-title mb-0'></span>"+
    	          "</div>"+
    	        "</li>"
    	  	  ); */
    	
    	
    });
	
	$('#ancora').on('click', '.js-remover', function(event) {
  		event.preventDefault();
		
		var botaoExcluir = $(event.currentTarget);

		var urlExcluirItem = botaoExcluir.attr('href');

		var response = $.ajax({
			url: urlExcluirItem,
			type: 'GET',
			complete: function() {
  			configuraBarraPesquisa();
  			inicializar();
  		}
		});
		
		response.done(function(e){
			$('#modalConfirmarRemocaoItem').modal('hide');
			$('#caixaForm').replaceWith(e);
			$('#listaDeItens').scrollTop(330);
		});
		
		response.fail(function(e){
			alert('Erro excluindo item');
		});
		
	});
	
  	$('#ancora').on('click', '.js-pagamento', function(event){
  		
  		var botao = $(event.currentTarget);
  		var url = botao.data('url-base');
  
  		var response = $.ajax({
  			url: url,
  			type: 'PUT'
  		});
  		
  		response.done(function(e){
  			$('#modalPagamento').modal('hide');
  			$('#caixaForm').replaceWith(e);
  			$('#modalPagamento').modal('show');
  		});
  		
  		response.fail(function(e){
  			alert('Erro ao executar pagamento');
  		});
  	});
	
		$('#ancora').on('click', '.js-desconto', function(event) {
  		event.preventDefault();
  		
  		var seletor = $('#desconto');
  		var url = seletor.data('url-aplicar-desconto');
  		var opcao = seletor.find('option:selected');
  		var desconto = opcao[0].value;
  		
  		if(!url.endsWith('/')){
  			url += '/';
  		}
  		
  		url += desconto;
  		
  		var response = $.ajax({
  			url: url,
  			type: 'GET'
  		});
  		
  		response.done(function(e){
  			$('#modalDesconto').modal('hide');
  			$('#modalPagamento').modal('hide');
  			$('#caixaForm').replaceWith(e);
  			$('#modalPagamento').modal('show');
			});
		
  		response.fail(function(e){
  			alert('Erro aplicando desconto');
  		});
  	});
		
		$('#ancora').on('change','.icheck-primary', function(e) {
			var opcao = $(this).find(':checked').val();
			var url = $(this).data('url-forma-pagamento');
			if(!url.endsWith('/')){
  			url += '/';
  		}
			url += opcao
			
			var response = $.ajax({
  			url: url,
  			type: 'GET'
  		});
  		
  		response.done(function(e){
  			$('#modalPagamento').modal('hide');
  			$('#caixaForm').replaceWith(e);
  			$('#modalPagamento').modal('show');
			});
		
  		response.fail(function(e){
  			alert('Erro atualizando forma de pagamento');
  		});
			
			/* if(opcao === 'CONTA'){
				$('.bg-saldo').attr('hidden','hidden');
			} else {
				$('.bg-saldo').removeAttr('hidden');
			} */
		});
	
  	$(document).ajaxComplete(function(event, xhr, settings) {		
  		var url = settings.url;
  		
  		if(!(url.includes('buscarItem'))){
  			configuraBarraPesquisa();
  		}
  		
  		if(url.includes('incluir')) {
  			setTimeout(function() {
    		  $('#loadingDiv').html('');
  			}, 250);
  		}
  		inicializar();
  		
  		/* if(($("#modal-cliente").data('bs.modal') || {})._isShown) {
  			$('.js-buscar-cliente').select2('focus');
  		} else {
  			$('.js-buscar-produto').select2('focus');
  		} */
  	});
	
  	$('#ancora').on('show.bs.modal', '.modal', function () {
  	    var zIndex = 1040 + (10 * $('.modal:visible').length);
  	    $(this).css('z-index', zIndex);
  	    setTimeout(function() {
  	        $('.modal-backdrop').not('.modal-stack').css('z-index', zIndex - 1).addClass('modal-stack');
  	    }, 0);
  	});
  	
  	

  });
  window.onload = function(){
	  var res = $('#inputSaldo').hasClass('is-invalid') || $('#nenhumClienteSelecionado').hasClass('is-invalid');
	  if(res) {
		  $('#modalPagamento').modal('show');
		  setTimeout(function(){
			  posicionarAoFim('inputSaldo');
		  },0)
	  }
	}
  
  function posicionarAoFim(elementId) {
	  var myElement = document.getElementById(elementId);
	  myElement.focus();
	  var length = myElement.value.length;
	  myElement.selectionStart = length;
  }
  

  </script>
  
  <style layout:fragment="extra-style">
    #modalPagamento * {
      box-sizing: border-box;
    }
    
    #modalPagamento body {
      background-color: #f1f1f1;
    }
    
    #modalPagamento #regForm {
      background-color: #ffffff;
      margin: 100px auto;
      font-family: Raleway;
      padding: 40px;
      width: 70%;
      min-width: 300px;
    }
    
    #modalPagamento h1 {
      text-align: center;  
    }
    
    .input_saldo {
      /* padding: 10px;
      width: 100%; */
      font-size: 28px;
      /* font-family: Raleway;
      border: 1px solid #aaaaaa; */
    }
    
    /* Mark input boxes that gets an error on validation: */
    #modalPagamento input.invalid {
      background-color: #ffdddd;
    }
    
    /* Hide all steps by pagamento: */
    #modalPagamento .tab {
      display: none;
    }
    
    /* #modal-cliente button {
      background-color: #4CAF50;
      color: #ffffff;
      border: none;
      padding: 10px 20px;
      font-size: 17px;
      font-family: Raleway;
      cursor: pointer;
    } */
    
    /* #modal-cliente button:hover {
      opacity: 0.8;
    } */
    
    /* #modal-cliente #prevBtn {
      background-color: #bbbbbb;
    } */
    
    /* Make circles that indicate the steps of the form: */
    #modalPagamento .step {
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #bbbbbb;
      border: none;  
      border-radius: 50%;
      display: inline-block;
      opacity: 0.5;
    }
    
    #modalPagamento .step.active {
      opacity: 1;
    }
    
    /* Mark the steps that are finished and valid: */
    #modalPagamento .step.finish {
      background-color: #4CAF50;
    }
  
  </style>
    
</html>
