<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{principal}">
<head>
  <title th:text="#{mercadinho}"></title>
</head>

  <section layout:fragment="container">
    
    <form id="caixaForm" role="form"  method="POST" th:action="@{/caixa}" th:object="${venda}">
      <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"></input>
      <input type="hidden" th:field="*{id}"></input>
      <input type="hidden" th:field="*{dataVenda}"></input>
      <input type="hidden" th:field="*{subtotal}"></input>
      <input type="hidden" th:field="*{total}"></input>
      <input type="hidden" th:field="*{valorDesconto}"></input>
      <input type="hidden" th:field="*{status}"></input>
      <input type="hidden" th:field="*{cliente}"></input>
      
      <div class="content-header" style="padding-left:0px; padding-right:0px; padding-bottom:5px">
        <div class="container-fluid">
          <div layout:insert="~{mensagem_geral}"></div>
          <div layout:insert="~{mensagem_erro}"></div>
          <div class="row mb-2" layout:fragment="cabecalho">
            <div class="col-sm-7 m-0">
              <select class="js-buscar-produto" 
               th:attr="data-url-buscar-item=@{/caixa/buscarItem}, data-url-selecionar-item=@{/caixa/incluir},
               data-url-selecionar-balanca=@{/caixa/balanca}"
               style="width: 100%;"></select>
            </div>
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
      </div>
      <section class="content">
        
        <div class="container-fluid">            
          <div class="row">
            <div class="col-md-7">
              <!-- <div style="border-style: solid solid solid solid; border-width: 2px;border-color: #cbd3da; background-color: #fffed4"> -->
                <div class="chart" style=" height: 400px; border-style: solid solid solid solid; border-width: 2px;border-color: #aaaaaa;background-color: #fffed4">
                  <div class="bg-white pt-3 px-2" style="border-style: none none solid none; border-width: 2px; border-color: #cbd3da;"><!-- #cbd3da -->
                    <ul class="items-list" style="height: 1.5em; margin-bottom: 0px">
                      <li>
                        <div class="row">
                          <div class="col-md-4 text-left">
                            <!-- <h4 class="mb-0">
                              Produto
                            </h4> -->
                            <label>Produto</label>
                          </div>
                          <div class="col-md-4 text-center">
                            <!-- <h4 class="mb-0">
                              Quantidade x Preço Unitário
                            </h4> -->
                            <label>Quantidade x Preço Unitário</label>
                          </div>
                          <div class="col-md-3 text-right">
                            <!-- <h4 class="mb-0">
                              Total Item
                            </h4> -->
                            <label>Total Item</label>
                          </div>
                          <div class="col-md-1"></div>
                        </div>
                      </li>
                    </ul>
                  </div>
                  
                  <ul id="listaDeItens" data-widget="todo-list" class="items-list" style="overflow: scroll;">
                    <li th:if="*{#lists.isEmpty(itemList)}">
                       <div class="col-md-12">
                        <p class="mt-2">Nenhum item incluído.</p> 
                       </div>
                    </li>
                    <th:block th:each="item, rowStat : *{itemList}">
                        <input type="hidden" th:field="*{itemList[__${rowStat.index}__].produto}"></input>
                        <input type="hidden" th:field="*{itemList[__${rowStat.index}__].quantidade}"></input>
                        <input type="hidden" th:field="*{itemList[__${rowStat.index}__].valor}"></input>
                        <input type="hidden" th:field="*{itemList[__${rowStat.index}__].venda}"></input>
                        <input type="hidden" th:field="*{itemList[__${rowStat.index}__].valorTotal}"></input>
                        <li class="item">
                        <div class="row align-items-end">
                         <div class="col-md-4 text-left">
                          <h6 id="codigo" th:text="${item.produto.codigo}"></h6>
                          <h6><b id="descricao" th:text="${item.produto.descricao}"></b></h6>  
                         </div>
                        <div class="col-md-4 text-center">
                           <h6 id="quantidade" th:text="|${{item.quantidade}}${item.produto.unitario} x ${{item.valor}}|"></h6>
                        </div>
                        <div class="col-md-3 text-right">
                           <h5 th:text="|R$ ${{item.valorTotal}}|"></h5>
                        </div>
                        <div class="col-md-1 text-center">
                          <h6>
                           <a data-toggle="modal" data-target="#modalConfirmarRemocaoItem" class="text-muted btn-sm"
                            th:attr="data-codigo=${item.produto.codigo}, data-descricao=${item.produto.descricao}"
                            title="Excluir" rel="tooltip" data-placement="top"><!--  -->
                            <i class="fas fa-trash"></i>
                           </a>
                          </h6>
                        </div>
                        </div>
                      </li>
                      <li class="linha border-bottom">
                      </li>
                    </th:block>
                  </ul>
                  <div class="bg-white py-2 px-2" style="border-style: none none solid none; border-width: 2px; border-color: #cbd3da;">
                    <div class="col-md-12">
                      <h5>Nenhum item incluído</h5> 
                    </div>
                  </div>
                </div>
              <!-- </div> -->
            </div>
          
          <div class="col-md-5">
            
            <div class="d-flex flex-column" style="height: 400px;">
              <div class="mb-auto">
               
                <div class="d-flex justify-content-between">
                  <button type="button" th:attr="data-url-base=@{/caixa/pagamento}"
                   id="botaoPagamento" class="js-pagamento btn btn-success btn-lg btn-flat">
                    <!-- <i class="fas fa-cart-plus fa-lg mr-2"></i> -->
                    <i class="fas fa-money-bill-wave"></i>
                    Efetuar Pagamento (F2)
                  </button>
                  <button type="button" data-toggle="modal" data-target="#modal-cliente"
                   class="btn btn-warning btn-lg btn-flat">
                    <i class="fas fa-book-open"></i>
                    Venda na Conta (F3)
                  </button>
                </div>
              </div>
              <!-- <div class="login-logo">
                <img th:src="@{/custom/img/produto/logo-mercadinho.png}" alt="Mercadinho Logo" style="height: 150px" class="img-fluid"></img>
              </div> -->
              <div class="bg-gray py-2 px-3">
                <h4 class="mb-0">
                  <!-- <small> -->Subtotal<!-- </small> -->
                </h4>
                <h1 class="mt-0" th:text="|R$ *{{subtotal}}|">
                </h1>
              </div>
             </div>
            </div>
          
          </div>
        </div>
      </section>
              
      <div class="modal" id="modal-pagamento" 
       tabindex="-1" data-keyboard="true"
       role="dialog" aria-labelledby="..." aria-hidden="true"><!-- data-keyboard="true" data-backdrop="static" -->
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Pagamento</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="row" >
                <div class="col-12">
                  
                  <div class="table-responsive">
                    <table class="table">
                      <tr>
                        <th class="lead mt-2" style="width:50%">Subtotal:</th>
                        <td id="subtotal" class="js-subtotal"><p class="mb-0" th:text="|*{{subtotal}}|">R$ 0,00</p></td>
                      </tr>
                      <tr>
                        <th class="lead form-inline">
                          Desconto
                          <select id="desconto" class="js-desconto custom-select ml-1 mr-sm-2" th:field="*{desconto}" 
                            th:attr="data-url-base-desconto=@{/caixa/desconto}">
                            <option th:each="desconto : ${opcoesDescontoList}" th:value="${desconto}" th:text="${desconto.descricao}"></option>
                          </select>
                        </th>
                        <td id="desconto-valor"><p class="mb-0" th:text="|*{{valorDesconto}}|">0,00</p></td>
                      </tr>
                      <tr>
                        <th class="lead">Total:</th>
                        
                        <td id="total">
                        <div class="bg-gray py-2 px-3"><h2 class="mb-0" th:text="|*{{total}}|"></h2>
                        </div></td>
                      </tr>
                      <tr>
                        <th class="lead">Saldo:</th>
                        <td>
                          <!-- <div class="input-group input-group-lg"> -->
                            <input type="text" id="inputSaldo" class="form-control js-currency input_saldo" th:field="*{saldo}"></input>
                          <!-- </div> -->
                        </td>
                      </tr>
                    </table>
                    <div class="d-flex justify-content-between">
                      <button type="button" class="btn btn-danger" data-dismiss="modal">
                        <i class="fas fa-undo-alt"></i>
                        Voltar (ESC)
                      </button>
                      <button type="submit" id="finalizar" class="btn btn-md btn-primary">
                        <i class="far fa-credit-card"></i> 
                        Finalizar (ENTER)
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->
      
      <div class="modal" id="modal-cliente" 
       tabindex="-1" data-keyboard="true"
       role="dialog" aria-labelledby="..." aria-hidden="true"><!-- data-keyboard="true" data-backdrop="static" -->
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Venda na Conta</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <!-- <div class="row" > -->
                
                <!-- One "tab" for each step in the form: -->
                <div class="tab">
                  <p class="mb-1">Selecione um cliente:</p>
                  <select id="selectClient" class="js-buscar-cliente input_saldo" 
                   th:attr="data-url-buscar-cliente=@{/caixa/buscarCliente}, data-url-selecionar-cliente=@{/caixa/selecionarCliente}"
                   style="width: 100%;" oninput="this.className"></select>
                   
                   <div class="card bg-light mt-3" th:if="*{cliente}">
                    <div class="card-header text-muted border-bottom-0"><span class="text-success">Cliente selecionado</span></div>
                    <div class="card-body pt-2">
                      <div class="row">
                        <div class="col-12">
                          <div class="d-flex justify-content-between">
                            <h2 class="lead"><b th:text="*{cliente.nome}"></b></h2>
                            <h6>
                             <a data-toggle="modal" class="js-remover-cliente text-muted btn-sm"
                              th:attr="data-url-remover-cliente=@{/caixa/removerCliente}"
                              title="Excluir" rel="tooltip" data-placement="top">
                              <i class="fas fa-trash"></i>
                             </a>
                            </h6>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <input placeholder="Nenhum cliente selecionado." class="form-control mt-3 required" oninput="this.className = ''" name="fname"
                   th:unless="*{cliente}" readonly="readonly"></input>
                </div>
                <div class="tab">
                  <p class="mb-1">Confirme a compra:</p>
                    <div class="card bg-light" th:if="*{cliente}">
                    <div class="card-body pt-2">
                      <div class="row">
                        <div class="col-12">
                            Cliente:
                            <p th:if="*{cliente}" class="lead"><b th:text="*{cliente.nome}"></b></p>
                            Total(R$):
                            <p class="lead"><b th:text="|*{{total}}|"></b></p>
                        </div>
                      </div>
                    </div>
                  </div>
                    
                </div>
                <!-- Circles which indicates the steps of the form: -->
                <div style="text-align:center;margin-top:40px;">
                  <span class="step"></span>
                  <span class="step"></span>
                </div>
              <!-- </div> -->
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-md btn-default" id="prevBtn" onclick="nextPrev(-1)">Anterior</button>
              <button type="button" class="btn btn-md btn-primary" id="nextBtn" onclick="nextPrev(1)">Próximo</button>
              <!-- <button type="button" class="btn btn-default" data-dismiss="modal">
                <i class="fas fa-undo-alt"></i>
                Voltar (ESC)
              </button>
              <button type="button" id="finalizar" class="btn btn-md btn-primary" onclick="validateForm()">
                <i class="far fa-credit-card"></i> 
                Finalizar (ENTER)
              </button> -->
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->
      
    </form>
        
    <div class="modal" id="modal-balanca" tabindex="-1" data-keyboard="true">
      <form id="itemForm" role="form" method="POST" th:action="@{/caixa/incluir}" th:object="${item}">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"></input>
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Informe o peso</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="row">
                <input type="hidden" id="inputCodigoProduto" th:field="*{produto.codigo}"></input>
                <input type="hidden" id="inputUnitario" th:field="*{produto.unitario}"></input>
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="col-form-label">Produto</label>
                    <p id="descricaoProduto" th:text="*{produto.descricao}">Descrição do Produto</p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="inputQuantidade" class="col-form-label">Peso</label>
                    <input type="text" id="inputQuantidade" th:field="*{quantidade}" class="form-control js-currency"></input>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="inputValorQuilo" class="col-form-label">Valor Kg</label>
                    <input type="text" readonly="readonly" id="inputValorQuilo" th:field="*{produto.valorDeVenda}" class="form-control"></input>
                  </div>
                </div>
                
             </div>
            </div>
            <div class="modal-footer justify-content-between">
             <button type="button" class="btn btn-md btn-danger" data-dismiss="modal">Cancelar</button>
             <button type="button" class="btn btn-md btn-success js-selecionar-item-balanca" 
             th:attr="data-url-base=@{/caixa/incluir/}" th:text="#{incluir}">Incluir</button><!-- js-selecionar-item-balanca -->
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </form>
    </div>
    <!-- /.modal -->
  
    <div class="modal fade" id="modalConfirmarRemocaoItem" tabindex="-1" data-keyboard="false" data-backdrop="static">
      <div class="modal-dialog">
        <!-- <form th:attr="data-url-base=@{/titulos}" method="POST"> -->
          <input type="hidden" name="_method" value="DELETE"></input>
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Remover Item</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Deseja realmente excluir o item?</p>
            </div>
            <div class="modal-footer justify-content-between">
             <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
             <a th:attr="data-url-base=@{/caixa/excluir/}" class="js-remover btn btn-md btn-success" th:text="#{excluir}"></a>
            </div>
          </div>
          <!-- /.modal-content -->
        <!-- </form> -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    
  </section>
  
  <script layout:fragment="js-validator" th:inline="javascript">
  	var currentTab = 0; // Current tab is set to be the first tab (0)
    	
  	var currencyformatter = new Intl.NumberFormat('pt-BR', {
	  style: "currency",
	  currency: "BRL",
	  minimumFractionDigits: 2,
	  currencyDisplay: "symbol",
	});
  	
  	var decimalformatter = new Intl.NumberFormat('pt-BR', {
	  minimumFractionDigits: 2
	});
  	
  	$('#ancora').on('shown.bs.modal', '#modal-balanca', function(event){
    	$('#inputQuantidade').maskMoney({
    		precision: 3,
    		decimal:',', 
    		thousands:'.', 
    		allowZero:'true',
    		formatOnBlur:false});
    	
    	setTimeout(function() {
    		$('#inputQuantidade').focus();
      	}, 0);
    });
    
    $('#ancora').on('shown.bs.modal', '#modal-pagamento', function(event){
    	$('#inputSaldo').maskMoney({
    		decimal:',',
    		thousands:'.', 
			allowZero:'true',
			formatOnBlur:false});
    	
    	setTimeout(function() {
    		$('#inputSaldo').val('0.00');
    		$('#inputSaldo').trigger('focus');
      	}, 0);
    });
    
    $('#ancora').on('shown.bs.modal', '#modal-cliente', function(event){
    	startSelect2Cliente();
    	currentTab = 0;
    	showTab(currentTab);
		setTimeout(function() {
			$('#selectClient').select2('focus');
      	}, 0);
    });
    
    $('#ancora').on('hidden.bs.modal', '#modal-cliente', function(event){
    	$('.js-buscar-produto').select2('focus');
    });
    $('#ancora').on('hidden.bs.modal', '#modal-pagamento', function(event){
    	$('.js-buscar-produto').select2('focus');
    });
    $('#ancora').on('hidden.bs.modal', '#modal-balanca', function(event){
    	$('.js-buscar-produto').select2('focus');
    });
    
    $('#ancora').on('click', '.js-buscar-produto', function(event){
    	console.log('clicou na barra de pesquisa de produtos');
    });
  	
 	// Execute a function when the user releases a key on the keyboard
  	$(document).on('keyup', function(event) {
  	  // Number 13 is the "Enter" key on the keyboard
  	  if (event.keyCode === 113) {
  	    // Cancel the default action, if needed
  	    //event.preventDefault();
  	    // Trigger the button element with a click
  	    $('#botaoPagamento').click();
  	    
  	  }
  	});
 	
 	// Execute a function when the user releases a key on the keyboard
  	$(document).on('keyup', function(event) {
  	  // Number 13 is the "Enter" key on the keyboard
  	  if (event.keyCode === 112) {
  	    // Cancel the default action, if needed
  	    event.preventDefault();
  	    // Trigger the button element with a click
  	  	$('.js-buscar-produto').select2('focus');
  	  }
  	});
 
 	// Execute a function when the user releases a key on the keyboard
  	$('#modal-pagamento').on('keyup', function(event) {
  	  // Number 13 is the "Enter" key on the keyboard
  	  console.log(event.keyCode);
  	  if (event.keyCode === 27) { //Esc
  	    // Cancel the default action, if needed
  	    console.log('Esc:'+event.keyCode);
  	    event.preventDefault();
  	    // Trigger the button element with a click
  	  	$(this).modal('hide');
  	  }
  	});
  	
  	function startSelect2(){
  		var seletor = $('.js-buscar-produto');
  		var url = seletor.data('url-buscar-item');
  		
  		$(seletor).select2({
  	      language: "pt-BR",
  	  	  ajax: {
  	  	    url: url,
  	  	    dataType: 'json',
  	  	    delay: 250,
  	  	    data: function (params) {
  	  	      return {
  	  	        q: params.term, // search term
  	  	        page: params.page || 1 
  	  	      };
  	  	    },
  	  	    processResults: function (data, params) {
  	  	      // parse the results into the format expected by Select2
  	  	      // since we are using custom formatting functions we do not need to
  	  	      // alter the remote JSON data, except to indicate that infinite
  	  	      // scrolling can be used
  	  	      params.page = params.page || 1;

  	  	      return {
  	  	        results: data.items,
  	  	        pagination: {
  	  	          more: (params.page * data.page_size) < data.total_count
  	  	        }
  	  	      };
  	  	    },
  	  	    cache: true
  	  	  },
  	  	  placeholder: 'Procure por um produto (F1)',
  	  	  minimumInputLength: 1,
  	  	  allowClear: true,
  	  	  templateResult: formatRepo,
  	  	  templateSelection: formatRepoSelection,
  	  	  multiple: true
  	  	});
  	}
  	
  	function startSelect2Cliente(){
  		
  		var seletorCliente = $('.js-buscar-cliente');
  		var url = seletorCliente.data('url-buscar-cliente');
  		
  		$(seletorCliente).select2({
  	      language: "pt-BR",
		  //dropdownParent: $('.modal-body', '#modal-cliente'),
  	  	  ajax: {
  	  	    url: url,
  	  	    dataType: 'json',
  	  	    delay: 250,
  	  	    data: function (params) {
  	  	      return {
  	  	        q: params.term, // search term
  	  	        page: params.page || 1 
  	  	      };
  	  	    },
  	  	    processResults: function (data, params) {
  	  	      // parse the results into the format expected by Select2
  	  	      // since we are using custom formatting functions we do not need to
  	  	      // alter the remote JSON data, except to indicate that infinite
  	  	      // scrolling can be used
  	  	      params.page = params.page || 1;

  	  	      return {
  	  	        results: data.clientes,
  	  	        pagination: {
  	  	          more: (params.page * data.page_size) < data.total_count
  	  	        }
  	  	      };
  	  	    },
  	  	    cache: true
  	  	  },
  	  	  placeholder: 'Digite aqui',
  	  	  minimumInputLength: 1,
  	  	  templateResult: formatRepoCliente,
  	  	  templateSelection: formatRepoSelection,
  	  	  multiple: true
  	  	});
  	}

  	function formatRepo (repo) {
  	  if (repo.loading) {
  	    return repo.text;
  	  }

  	  var $container = $(
  	    "<div class='select2-result-repository clearfix'>" +
  	      "<div class='select2-result-repository__avatar'><img id='image' style='height:60px' src='' /></div>" +
  	      "<div class='select2-result-repository__meta'>" +
  	      	"<div class='select2-result-repository__description' id='codigo'></div>" +
  	        "<div class='select2-result-repository__title'></div>" +
  	      	"<div class='select2-result-repository__forks'></div>" +
  	      	/* "<div class='select2-result-repository__description' id='categoria'><i class='fa fa-flash'></i> </div>" + */
  	        /* "<div class='select2-result-repository__statistics'>" +
  	      		"<div class='select2-result-repository__forks'></div>" +
  	    		/*"<div class='select2-result-repository__stargazers'><i class='fa fa-star'></i> </div>" +
  	          "<div class='select2-result-repository__watchers'><i class='fa fa-eye'></i> </div>" +	
  	        "</div>" +  */
  	      "</div>" +
  	    "</div>"
  	  );
  	  
  	  $container = $(
  	  	"<li class='products-list product-list-in-card  py-2 item'>"+
          "<div class='product-img'>"+
            "<img id='image' src='' alt='Product Image'>"+
          "</div>"+
          "<span id='preco' class='badge badge-warning float-right'></span>"+
          "<div class='product-info'>"+
          	"<span class='product-description'></span>"+
            "<span class='product-title mb-0'></span>"+
          "</div>"+
        "</li>"
  	  );

  	  $container.find("#image").attr('src', 'data:image/png;base64,'+repo.imagemBase64);
  	  $container.find(".product-title").text(repo.descricao);
  	  $container.find("#preco").text(currencyformatter.format(repo.valorDeVenda)+' '+repo.unitario);
  	  $container.find(".product-description").text('Cod.: '+repo.codigo);
  	  /*$container.find(".select2-result-repository__description#codigo").text(repo.codigo);
  	  $container.find(".select2-result-repository__title").text(repo.descricao); */
  	  /* $container.find(".select2-result-repository__description#categoria").text(repo.categoria.descricao); */
  	  /* $container.find(".select2-result-repository__forks").text(repo.categoria.descricao); */
  	  /* $container.find(".select2-result-repository__stargazers").append(123 + " Stars");
  	  $container.find(".select2-result-repository__watchers").append(123 + " Watchers"); */

  	  return $container;
  	}
  	
  	function formatRepoCliente (repo) {
  	  if (repo.loading) {
  	    return repo.text;
  	  }

  	  var $container = $(
  	    "<div class='select2-result-repository clearfix'>" +
  	      "<div class='select2-result-repository__avatar'><img id='image' style='height:available' src='' /></div>" +
  	      "<div class='select2-result-repository__meta'>" +
  	      	"<div class='select2-result-repository__description'></div>" +
  	        "<div class='select2-result-repository__title'></div>" +
  	      	"<div class='select2-result-repository__forks'></div>" +
  	      	/* "<div class='select2-result-repository__description' id='categoria'><i class='fa fa-flash'></i> </div>" + */
  	        /* "<div class='select2-result-repository__statistics'>" +
  	      		"<div class='select2-result-repository__forks'></div>" +
  	    		/*"<div class='select2-result-repository__stargazers'><i class='fa fa-star'></i> </div>" +
  	          "<div class='select2-result-repository__watchers'><i class='fa fa-eye'></i> </div>" +	
  	        "</div>" +  */
  	      "</div>" +
  	    "</div>"
  	  );

  	  $container.find("#image").attr('src', 'data:image/png;base64,'+repo.imagemBase64);
  	  $container.find(".select2-result-repository__description").text(repo.nome);
  	  $container.find(".select2-result-repository__title").text(repo.nome);
  	  /* $container.find(".select2-result-repository__description#categoria").text(repo.categoria.descricao); */
  	  /* $container.find(".select2-result-repository__forks").text(repo.categoria.descricao); */
  	  /* $container.find(".select2-result-repository__stargazers").append(123 + " Stars");
  	  $container.find(".select2-result-repository__watchers").append(123 + " Watchers"); */

  	  return $container;
  	}

  	function formatRepoSelection (repo) {
  	  return repo.full_name || repo.text;
  	}
  	
    $('#ancora').on('select2:select','.js-buscar-produto', function(e) {

    	var data = e.params.data;
    	var seletor = $(e.currentTarget);
    	
    	if(data.unitario == 'Kg') {
    		mostrarModalBalanca(e);
    		$('.js-buscar-produto').find('option').replaceWith();
    	} else {
      		var url = seletor.data('url-selecionar-item');
      		var codigo = data.codigo;
        	var unitario = data.unitario;
        	var quantidade = 1;
      		
      		var item = {
      	  	      "produto" : {
      	  	    	  "codigo" : codigo,
      	  	    	  "unitario" : unitario
      	  	      },
      	  	      "quantidade" : quantidade
      	  	   };
      	
        	console.log(JSON.stringify(item));
        	
        	var response = $.ajax({
        		url: url,
        		type: 'POST',
        		contentType : 'application/json; charset=utf-8',
        		data: JSON.stringify(item),
    		});
        	
        	response.done(function(e){
    			$('#caixaForm').replaceWith(e);
    			$('#listaDeItens').scrollTop(330);
    		});
        	response.fail(function(e){
        		alert('Erro incluindo item');
    		});  		
    	}
    	
    });
    
    $('#ancora').on('select2:select','.js-buscar-cliente', function(e) {

    	var data = e.params.data;
    	var seletor = $(e.currentTarget);
    	
  		var url = seletor.data('url-selecionar-cliente');
  		var id = data.id;
  		
  		if(!url.endsWith('/')){
			url += '/';
		}
    	url += data.id;
      	
      	var response = $.ajax({
      		url: url,
      		type: 'GET'
  		});
      	
      	response.done(function(e){
      		$('#modal-cliente').modal('hide');
      		$('#caixaForm').replaceWith(e);
      		currentTab = 0;
      		showTab(currentTab);
  			$('#modal-cliente').modal('show');
  		});
      	response.fail(function(e){
      		alert('Erro incluindo cliente');
  		}); 
    	
    });
    
    $('#ancora').on('click','.js-remover-cliente', function(e) {

    	var botao = $(e.currentTarget);
    	
  		var url = botao.data('url-remover-cliente');
      	
      	var response = $.ajax({
      		url: url,
      		type: 'GET'
  		});
      	
      	response.done(function(e){
      		$('#modal-cliente').modal('hide');
      		$('#caixaForm').replaceWith(e);
      		currentTab = 0;
      		showTab(currentTab);
  			$('#modal-cliente').modal('show');
  		});
      	response.fail(function(e){
      		alert('Erro excluindo cliente');
  		}); 
    	
    });
    
    function mostrarModalBalanca(e) {
    	e.preventDefault();
    	var data = e.params.data;
    	var seletor = $(e.currentTarget);
    	var url = seletor.data('url-selecionar-balanca');
    	
    	if(!url.endsWith('/')){
			url += '/';
		}
    	url += data.codigo;
    	var response = $.ajax({
			url: url,
			type: 'PUT'
		});
    	
    	response.done(function(e){
			$('#modal-balanca').replaceWith(e);
			$('#modal-balanca').modal('show');
		});
    	response.fail(function(e){
			alert('Erro pesando item');
		});
    }
    
    $('#ancora').on('click', '.js-selecionar-item-balanca', function(event){
    	var botao = $(event.currentTarget);
    	var url = botao.data('url-base');
    	
    	var codigo = $('#modal-balanca').find('input#inputCodigoProduto').val();
    	var quantidade = $('#modal-balanca').find('input#inputQuantidade').val().replace(',','.');
    	var unitario = $('#modal-balanca').find('input#inputUnitario').val();
    	
    	var item = {
    	  	      "produto" : {
    	  	    	  "codigo" : codigo,
    	  	    	  "unitario" : unitario
    	  	      },
    	  	      "quantidade" : quantidade
    	  	   };
    	
      	console.log(JSON.stringify(item));
      	
      	var response = $.ajax({
      		url: url,
      		type: 'POST',
      		contentType : 'application/json; charset=utf-8',
      		data: JSON.stringify(item),
  		});
    	
    	response.done(function(e){
    		$('#modal-balanca').modal('hide');
			$('#caixaForm').replaceWith(e);
			$('#listaDeItens').scrollTop(330);
		});
    	
    	response.fail(function(e){
			alert('Erro incluindo item');
		});  		
    }); 
    
	$('#ancora').on('show.bs.modal', '#modalConfirmarRemocaoItem', function(event){
    	var button = $(event.relatedTarget); // Button that triggered the modal
    	var codigo = button.data('codigo'); // Extract info from data-* attributes
    	var descricao = button.data('descricao');
    	var modal = $(this);
    	var a = modal.find('a.js-remover');
    	var url = a.data('url-base');
    	
    	if(!url.endsWith('/')){
    		url += '/';
    	}
    	
    	a.attr('href',url + codigo);
    	modal.find('.modal-body p').html('Deseja realmente excluir o item <strong>'+descricao+'</strong> da lista?');    	
    });
	
	$('#ancora').on('click', '.js-remover', function(event) {
  		event.preventDefault();
		
		var botaoExcluir = $(event.currentTarget);

		var urlExcluirItem = botaoExcluir.attr('href');

		var response = $.ajax({
			url: urlExcluirItem,
			type: 'GET'
		});
		
		response.done(function(e){
			$('#modalConfirmarRemocaoItem').modal('hide');
			$('#caixaForm').replaceWith(e);
			$('#listaDeItens').scrollTop(330);
		});
		
		response.fail(function(e){
			alert('Erro excluindo item');
		});
		
	});
	
	$('#ancora').on('click', '.js-pagamento', function(event){
		
		var botao = $(event.currentTarget);
		var url = botao.data('url-base');

		var response = $.ajax({
			url: url,
			type: 'PUT'
		});
		
		response.done(function(e){
			console.log('pagamento');
			$('#modal-pagamento').modal('hide');
			$('#caixaForm').replaceWith(e);
			$('#modal-pagamento').modal('show');
  			
  		});
		
		response.fail(function(e){
			alert('Erro ao executar pagamento');
		});
	});
	
	$('#ancora').on('change', '.js-desconto', function(event) {
  		event.preventDefault();
  		
  		var seletor = $(event.currentTarget);
		var url = seletor.data('url-base-desconto');
		var opcao = seletor.find('option:selected');
		var desconto = opcao[0].value;
		
		if(!url.endsWith('/')){
			url += '/';
		}
		
		url += desconto;
		
		var response = $.ajax({
			url: url,
			type: 'GET'
		});
  		
  		response.done(function(e){
  			$('#modal-pagamento').modal('hide');
  			$('#caixaForm').replaceWith(e);
  			$('#modal-pagamento').modal('show');
		});
		
		response.fail(function(e){
			alert('Erro aplicando desconto');
		});
  	});

	$(document).ready(function(event){
  		startSelect2();
  		$('.js-buscar-produto').select2('focus');
  	});
	
	$(document).ajaxComplete(function(event, xhr, settings) {		
		var url = settings.url;
		
		console.log('url: '+url)
		if(!(url.includes('buscarItem'))){
			startSelect2();
		}
		if(!(url.includes('buscarCliente'))){
			startSelect2Cliente();
		}
		
		if(($("#modal-cliente").data('bs.modal') || {})._isShown) {
			$('.js-buscar-cliente').select2('focus');
		} else {
			$('.js-buscar-produto').select2('focus');
		}
	});

	/* function validateForm() {
	  // This function deals with validation of the form fields
	  var x, y, i, valid = true;
	  x = document.getElementsByClassName("painelCliente");
	  y = x[0].getElementsByClassName("required");
	  // A loop that checks every input field in the current tab:
	  for (i = 0; i < y.length; i++) {
	    // If a field is empty...
	    if (y[i].value == "") {
	      // add an "invalid" class to the field:
	      y[i].className += " invalid";
	      // and set the current valid status to false
	      valid = false;
	    }
	  }
	  // If the valid status is true, mark the step as finished and valid:
	  if (valid) {
		document.getElementById("caixaForm").submit();
		return false;
	  }
	  return valid; // return the valid status
	} */	
	showTab(currentTab); // Display the current tab

	function showTab(n) {
	  // This function will display the specified tab of the form...
	  var x = document.getElementsByClassName("tab");
	  x[n].style.display = "block";
	  //... and fix the Previous/Next buttons:
	  if (n == 0) {
	    document.getElementById("prevBtn").style.display = "none";
	  } else {
	    document.getElementById("prevBtn").style.display = "inline";
	  }
	  if (n == (x.length - 1)) {
	    document.getElementById("nextBtn").innerHTML = "Finalizar";
	  } else {
	    document.getElementById("nextBtn").innerHTML = "Próximo";
	  }
	  //... and run a function that will display the correct step indicator:
	  fixStepIndicator(n)
	}

	function nextPrev(n) {
	  // This function will figure out which tab to display
	  var x = document.getElementsByClassName("tab");
	  // Exit the function if any field in the current tab is invalid:
	  if (n == 1 && !validateForm()) return false;
	  // Hide the current tab:
	  x[currentTab].style.display = "none";
	  // Increase or decrease the current tab by 1:
	  currentTab = currentTab + n;
	  // if you have reached the end of the form...
	  if (currentTab >= x.length) {
	    // ... the form gets submitted:
	    document.getElementById("caixaForm").submit();
	    return false;
	  }
	  // Otherwise, display the correct tab:
	  showTab(currentTab);
	}

	function validateForm() {
	  // This function deals with validation of the form fields
	  var x, y, i, valid = true;
	  x = document.getElementsByClassName("tab");
	  y = x[currentTab].getElementsByClassName("required");
	  // A loop that checks every input field in the current tab:
	  for (i = 0; i < y.length; i++) {
	    // If a field is empty...
	    if (y[i].value == "") {
	      // add an "invalid" class to the field:
	      y[i].className += " invalid";
	      // and set the current valid status to false
	      valid = false;
	    }
	  }
	  // If the valid status is true, mark the step as finished and valid:
	  if (valid) {
	    document.getElementsByClassName("step")[currentTab].className += " finish";
	  }
	  return valid; // return the valid status
	}

	function fixStepIndicator(n) {
	  // This function removes the "active" class of all steps...
	  var i, x = document.getElementsByClassName("step");
	  for (i = 0; i < x.length; i++) {
	    x[i].className = x[i].className.replace(" active", "");
	  }
	  //... and adds the "active" class on the current step:
	  x[n].className += " active";
	}
	
  </script>
  
  <style layout:fragment="extra-style">
    #modal-cliente * {
      box-sizing: border-box;
    }
    
    #modal-cliente body {
      background-color: #f1f1f1;
    }
    
    #modal-cliente #regForm {
      background-color: #ffffff;
      margin: 100px auto;
      font-family: Raleway;
      padding: 40px;
      width: 70%;
      min-width: 300px;
    }
    
    #modal-cliente h1 {
      text-align: center;  
    }
    
    .input_saldo {
      /* padding: 10px; */
      width: 100%;
      font-size: 27px;
      font-family: Raleway;
      border: 1px solid #aaaaaa;
    }
    
    /* Mark input boxes that gets an error on validation: */
    #modal-cliente input.invalid {
      background-color: #ffdddd;
    }
    
    /* Hide all steps by default: */
    #modal-cliente .tab {
      display: none;
    }
    
    /* #modal-cliente button {
      background-color: #4CAF50;
      color: #ffffff;
      border: none;
      padding: 10px 20px;
      font-size: 17px;
      font-family: Raleway;
      cursor: pointer;
    } */
    
    /* #modal-cliente button:hover {
      opacity: 0.8;
    } */
    
    /* #modal-cliente #prevBtn {
      background-color: #bbbbbb;
    } */
    
    /* Make circles that indicate the steps of the form: */
    #modal-cliente .step {
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #bbbbbb;
      border: none;  
      border-radius: 50%;
      display: inline-block;
      opacity: 0.5;
    }
    
    #modal-cliente .step.active {
      opacity: 1;
    }
    
    /* Mark the steps that are finished and valid: */
    #modal-cliente .step.finish {
      background-color: #4CAF50;
    }
  
  </style>
    
</html>
