<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{principal}">
<head>
  <title th:text="#{cadastro.produto.titulo.aba.navegador}"></title>
</head>

  <section layout:fragment="container">
    <form role="form" method="POST" th:action="@{/produtos}" th:object="${produto}">
      <header layout:insert="~{cabecalho}"></header>
      <header layout:insert="~{corpo}"></header>
    </form>
  </section>
  
  <section layout:fragment="titulo">
    <h1 class="m-0 text-dark">Cadastro de Produtos</h1>
  </section>
  
  <section layout:fragment="botoes">
    <a class="btn btn-danger" th:href="@{/produtos}">Voltar</a>
    <button type="submit" class="btn btn-md btn-info" th:if="!*{id}">Salvar</button>
    <button type="submit" class="btn btn-md btn-info" th:if="*{id}">Alterar</button>
  </section>
  
  <section layout:fragment="conteudo">
    <div class="card card-secondary">
      <!-- <div class="card-header">
        <h3 class="card-title">Novo Título</h3>
      </div> -->
      <div class="card-body">
        <input type="hidden" id="inputCodigo" th:field="*{id}"></input>
        <div class="row">
          <div class="col-md-10">
            <div class="form-group">
              <label for="inputDescricao" class="col-form-label" th:text="#{cadastro.produto.label.descricao.obrigatorio}"></label>
              <input type="text" autofocus="autofocus" class="form-control" id="inputDescricao" th:field="*{descricao}" th:classappend="${#fields.hasErrors('descricao')} ? 'is-invalid'">
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label for="inputQuantidade" class="col-form-label" th:text="#{cadastro.produto.label.quantidade}"></label>
              <input type="text" disabled="disabled" class="form-control" id="inputQuantidade" th:field="*{quantidade}" th:classappend="${#fields.hasErrors('quantidade')} ? 'is-invalid'">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="inputValorVenda" class="col-form-label" th:text="#{cadastro.produto.label.valor.venda}"></label>
              <input type="text" class="form-control js-currency" id="inputValorVenda" th:field="*{valorDeVenda}" th:classappend="${#fields.hasErrors('valorDeVenda')} ? is-invalid">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="inputCategoria" class="col-form-label" th:text="#{cadastro.produto.label.categoria}"></label>
              <select class="form-control" th:field="*{categoria}">
                <option value="" selected th:text="#{selecione.categoria}"></option>
                <option th:each="categoria : ${categoriaList}" th:value="${categoria.id}" th:text="${categoria.descricao}"></option>
              </select>
            </div>
          </div>
        </div>
        <!-- <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="inputCategoria" class="col-form-label" th:text="#{cadastro.produto.label.categoria}"></label>
              <select class="duallistbox" multiple="multiple">
                <option th:each="categoria : ${categoriaList}" th:value="${categoria}" th:text="${categoria.descricao}"></option>
              </select>
            </div>
          </div>
        </div> -->
      </div>
  </div>
  </section>
    
</html>
