<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{principal}">
<head>
  <title th:text="#{mercadinho}"></title>
</head>
  
  <style layout:fragment="extra-style">
    .table, .table td{
      border-width:px;
      border-style:solid;
      border-color:grey;
      vertical-align: middle;
     }
  </style>

  <section layout:fragment="container">
    <form id="filtroProdutoForm" method="GET" th:action="@{/produtos}" th:object="${filtro}" role="form">
      <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"></input>
      <header layout:insert="~{cabecalho}"></header>
      <header layout:insert="~{corpo}"></header>
    </form>
    <div layout:insert="~{confirmar_exclusao_produto}"></div>
    
    <div class="modal fade" id="modalDetalhesProduto" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title"><small><i class="fas fa-info-circle"></i></small> Detalhes do Produto</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" >
            <div class="row" th:if="${produto}">
              <div class="col-12">
                <div class="row">
                  <div class="col-md-4">
                    <dl>
                      <dt>Código</dt>
                      <dd class="info-produto" th:if="${#strings.isEmpty(produto.codigo)}" th:text="#{nao.informado}" ></dd>
                      <dd class="info-produto" th:if="${!#strings.isEmpty(produto.codigo)}" th:text="${produto.codigo}" ></dd>
                      <dt>Nome</dt>
                      <dd class="info-produto" th:if="${#strings.isEmpty(produto.descricao)}" th:text="#{nao.informado}"></dd>
                      <dd class="info-produto" th:if="${!#strings.isEmpty(produto.descricao)}" th:text="${produto.descricao}"></dd>
                      <dt>Marca</dt>
                      <dd class="info-produto" th:if="${#strings.isEmpty(produto.marca)}" th:text="#{nao.informado}"></dd>
                      <dd class="info-produto" th:if="${!#strings.isEmpty(produto.marca)}" th:text="${produto.marca}"></dd>
                    </dl>
                  </div>
                  <div class="col-md-3">
                    <dl>
                      <dt>Categoria</dt>
                      <dd class="info-produto" th:if="${#strings.isEmpty(produto.categoria)}" th:text="#{nao.informado}"></dd>
                      <dd class="info-produto" th:if="${!#strings.isEmpty(produto.categoria)}" th:text="${produto.categoria.nome}"></dd>
                      <dt>Peso líquido</dt>
                      <dd class="info-produto" th:if="${#strings.isEmpty(produto.pesoLiquido)}" th:text="#{nao.informado}"></dd>
                      <dd class="info-produto" th:if="${!#strings.isEmpty(produto.pesoLiquido)}" th:text="${produto.pesoLiquido}"></dd>
                      <dt>Preço</dt>
                      <dd class="info-produto" th:if="${#strings.isEmpty(produto.valorDeVenda)}" th:text="#{nao.informado}"></dd>
                      <dd class="info-produto" th:if="${!#strings.isEmpty(produto.valorDeVenda)}" th:text="|R$ ${{produto.valorDeVenda}} (${produto.unitario.descricao})|"></dd>
                      <dd class="info-produto" th:if="${!#strings.isEmpty(produto.valorDeVendaOpcional)}" th:text="|R$ ${{produto.valorDeVendaOpcional}} (${produto.unitarioOpcional.descricao})|"></dd>
                      <!-- <dt>Unitário</dt>
                      <dd class="info-produto" th:if="${#strings.isEmpty(produto.unitario)}" th:text="#{nao.informado}"></dd>
                      <dd class="info-produto" th:if="${!#strings.isEmpty(produto.unitario)}" th:text="${produto.unitario.descricao}"></dd> -->
                    </dl>
                  </div>
                  <div class="col-md-2">
                    <dl>
                      <dt>Qtd. mínima</dt>
                      <dd class="info-produto" th:if="${#strings.isEmpty(produto.quantidadeMinima)}" th:text="#{nao.informado}"></dd>
                      <dd class="info-produto" th:if="${!#strings.isEmpty(produto.quantidadeMinima)}" th:text="${produto.quantidadeMinima}"></dd>
                      <dt>Qtd. total</dt>
                      <dd class="info-produto" th:if="${#strings.isEmpty(produto.quantidade)}" th:text="#{nao.informado}"></dd>
                      <dd class="info-produto" th:if="${!#strings.isEmpty(produto.quantidade)}" th:text="${produto.quantidade}"></dd>
                    </dl>
                  </div>
                  <div class="col-md-3">
                    <dl>
                    <dd><img class="img-fluid" style="height:160px"
                         th:src="|data:image/png;base64,${produto.imagemBase64}|"
                         alt="Cliente profile picture"></img></dd>
                    </dl>
                  </div>
                  <!-- <div class="col-md-4">
                    <dl>
                      <dt>Código de barras</dt>
                      <dd class="info-produto" th:text="#{nao.informado}" ></dd>
                    </dl>
                  </div> -->
                </div>
                <div class="row">
                  <div class="col-md-12" >
                    <div class="row mb-2">
                      <div class="col-sm-12">
                        <div class="float-right">
                          <a th:href="@{/lotes?produtoId={id}(id=${produto.id})}" class="btn btn-success"
                            title="Lotes" rel="tooltip" data-placement="top"
                            sec:authorize="hasAuthority('INCLUIR_LOTE')">
                            <i class="fas fa-plus-circle"></i> Incluir lote
                          </a> 
                        </div>
                      </div>
                    </div>
                    <!-- <table class="table table-bordered table-hover table-sm js-tabela">
                      <thead class="bg-secondary">
                        <tr>
                          <th class="text-center">Lote</th>
                          <th th:text="#{listagem.lote.coluna.produto}"></th>
                          <th class="text-center" th:text="#{listagem.lote.coluna.dataFabricacao}"></th>
                          <th class="text-center" th:text="#{listagem.lote.coluna.dataVencimento}"></th>
                          <th class="text-center" th:text="#{listagem.lote.coluna.valor.custo}"></th>
                          <th class="text-center" th:text="#{quantidade}"></th>
                          <th class="text-center" th:text="#{listagem.lote.coluna.acoes}"></th>
                        </tr>
                      </thead>
                      <tbody>
                      <tr th:each="lote : ${produto.loteList}">
                        <td class="text-center" th:text="${lote.id}"></td>                  
                        <td class="text-center" th:text="${{lote.dataFabricacao}}">                    
                        <td class="text-center" th:text="${{lote.dataVencimento}}">
                        <td class="text-center" th:text="|R$ ${{lote.valorCusto}}|">
                        <td class="text-center" th:text="${lote.quantidade}|">
                        <td class="text-center">
                          <a th:attr="data-url-lote=@{/produtos/lote/detalhes/{id}(id=${lote.id})}" th:href="@{#}"
                            class="btn btn-link" data-toggle="modal" data-target="#modalLote"
                            title="Editar" rel="tooltip" data-placement="top"
                            sec:authorize="hasAuthority('ALTERAR_LOTE')">
                            <i class="fas fa-pencil-alt"></i>
                          </a>
                          <a data-toggle="modal" data-target="#modalConfirmacao" class="btn btn-link" 
                            th:href="@{#}" th:attr="data-id=${lote.id}, data-descricao=|Lote ${lote.id} do produto ${lote.produto.descricao}|"
                            title="Excluir" rel="tooltip" data-placement="top"
                            sec:authorize="hasAuthority('EXCLUIR_LOTE')">
                            <i class="fas fa-trash"></i>
                          </a>
                        </td>
                      </tr>
                      <tr th:if="${#lists.isEmpty(produto.loteList)}">
                        <td colspan="6">Nenhum lote encontrado.</td>
                      </tr>
                    </tbody>
                    </table> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="modal-footer float-right">
            <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-arrow-circle-left"></i>
            Fechar</button>
            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    
    <!-- <form role="form" id="loteForm" method="POST" th:action="@{/lotes}">
    <div class="modal fade" id="modalLote" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Alterar lote</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          
          <div class="modal-body">
            <div class="row" th:if="${lote}">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="inputDescricao" class="col-form-label">Produto</label>
                  <input type="text" disabled="disabled" class="form-control" th:value="${lote.produto.descricao}">
                </div>
              </div>
            </div>
            <div id="camposEditaveis" th:if="${lote}">
            <div class="row">
              <input id="inputCodigo" type="hidden" th:field="${lote.id}"></input>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="inputDataFabricacao" class="col-form-label">Data de Fabricacao</label>
                  <input type="text" autofocus="autofocus" class="form-control js-date" id="inputDataFabricacao" th:value="${{lote.dataFabricacao}}">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="inputDataVencimento" class="col-form-label">Data de Vencimento</label>
                  <input type="text"  autocomplete="off" class="form-control js-date" name="datefilter" id="inputDataVencimento" th:value="${{lote.dataVencimento}}">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="inputValorCusto" class="col-form-label">Valor de Custo</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">R$</span>
                    </div>
                    <input type="text" class="form-control js-currency" id="inputValorCusto" th:value="${{lote.valorCusto}}">
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="inputQuantidade" class="col-form-label">Quantidade</label>
                  <input type="text" class="form-control" id="inputQuantidade" th:value="${lote.quantidade}">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="inputCategoria" class="col-form-label" th:text="#{fornecedor}"></label>
                  <select id="selectFornecedor" class="form-control" th:value="${lote.fornecedor}">
                    <option value="" selected th:text="#{selecione.fornecedor}"></option>
                    <option th:each="fornecedor : ${fornecedorList}" th:value="${fornecedor.id}" th:text="${fornecedor.nome}"></option>
                  </select>
                  <a th:href="@{#}" data-toggle="modal" data-target="#modalFornecedor">Incluir novo</a>
                </div>
              </div>
            </div>
            </div>
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-md btn-success" th:text="#{salvar}"></button>
            </div>
          </div>
          /.modal-content
        </div>
        /.modal-dialog
      </div>
      /.modal 
      </form> -->
  </section>
  
  <div layout:fragment="titulo">
    <h1 class="m-0 text-dark">Produtos</h1>
  </div>
  
  <!-- <div layout:fragment="botoes">
    <a class="btn btn-block btn-info" th:href="@{/produtos/novo}"
     sec:authorize="hasAuthority('INCLUIR_PRODUTO')"><i class="fas fa-plus-circle"></i> [[#{novo}]]</a>
  </div> -->
  
  <section layout:fragment="conteudo">
    <!-- <div class="card card-secondary"> -->
      <!-- <div class="card-header">
        <h3 class="card-title">Novo Título</h3>
      </div> -->
      <!-- <div class="card-body"> -->
        <div class="form-group row">
          <input type="hidden" th:field="*{avancada}" id="inputAvancada"></input>
          <div class="col-sm-6" th:unless="*{avancada}">
            <div class="input-group">
              <input class="form-control form-control-lg"  id="inputSearch"
                placeholder="Qual produto você está procurando?" autofocus="autofocus"
                th:field="*{termo}" onload="setTimeout(function(){$(this).focus();},0);"/>
              <div class="input-group-append">
                <button type="submit" class="btn btn-default" >
                  <i class="fas fa-search"></i> Pesquisar
                </button>
              </div>
              
            </div>
            <button type="button" class="btn btn-md btn-link px-0 py-0 pesquisa-avancada">
              <small>Ir para pesquisa avançada</small>
            </button>
          </div>
          <div class="col-sm-12" th:if="*{avancada}">
            <div class="row">
              <div class="col-sm-4">
                <label class="col-form-label">Código</label>
                <div class="input-group">
                  <input class="form-control" 
                    placeholder="Código"
                    th:field="*{produto.codigo}"></input>
                </div>
                <label class="col-form-label">Descrição</label>
                <div class="input-group">
                  <input class="form-control" 
                    placeholder="Descrição" 
                    th:field="*{produto.descricao}"></input>
                </div>
              </div>
              <div class="col-sm-4">
                <label class="col-form-label">Categoria</label>
                <select id="inputGrupo" class="form-control" th:field="*{produto.categoria}">
                  <option value="" selected th:text="#{selecione.opcao}"></option>
                  <option th:each="categoria : ${categoriaList}" th:value="${categoria.id}" th:text="${categoria.nome}"></option>
                </select>
                <label class="col-form-label">Marca</label>
                <div class="input-group">
                  <input class="form-control" 
                    placeholder="Marca" 
                    th:field="*{produto.marca}"></input>
                </div>
              </div>
              
              <div class="col-sm-4">
                <label class="col-form-label">Quantidade</label>
                <div class="input-group">
                  <input class="form-control" 
                    placeholder="Até quantidade" 
                    th:field="*{produto.quantidade}"></input>
                </div>
                <label class="col-form-label">Unitário</label>
                <select id="inputGrupo" class="form-control" th:field="*{produto.unitario}">
                  <option value="" selected th:text="#{selecione.opcao}"></option>
                  <option th:each="unitario : ${unitarioList}" th:value="${unitario}" th:text="${unitario.descricao}"></option>
                </select>
              </div>
            </div>
            <button type="button" class="btn btn-md btn-link px-0 py-0 pesquisa-padrao">
              <small>Voltar para a pesquisa padrão</small>
            </button>
            <button type="submit" class="btn btn-default" style="float:right">
              <i class="fas fa-search"></i> Pesquisar
              <!-- <i class="fas fa-search"></i> -->
            </button><br/>
            
          </div>
          
          <div class="col-sm-6">
            <div class="float-right">
              <a class="btn btn-block btn-info" th:href="@{/produtos/novo}"
                sec:authorize="hasAuthority('INCLUIR_PRODUTO')"><i class="fas fa-plus-circle"></i> [[#{novo}]]</a>  
            </div>
          </div>
        </div>    
        
        <table class="table table-bordered table-hover js-tabela">
          <thead class="table-primary">
            <tr>
              <th class="text-center" th:text="#{codigo}"></th>
              <th class="col-auto" th:text="#{descricao}" ></th>
              <th class="text-center" th:text="#{marca}" ></th>
              <!-- <th class="text-center" th:text="#{categoria}"></th> -->
              <th class="text-center" th:text="#{venda}" ></th>
              <th class="text-center" th:text="#{listagem.produto.coluna.acoes}">Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="produto : ${produtos}">
              <td class="text-center" th:text="${produto.codigo}"></td>
              <td th:text="${produto.descricao}" style="vertical-align: middle;"></td>
              <td class="text-center" th:text="${produto.marca}"></td>
              <!-- <td class="text-center" th:text="${produto.categoria!=null?produto.categoria.nome:null}"></td> -->
              <td class="text-center" th:text="${{produto.valorDeVenda}}"></td>                   
              <td class="text-center">
                <a th:attr="data-url-detalhes=@{/produtos/detalhes/{id}(id=${produto.id})}" th:href="@{#}"
                  class="btn btn-link" title="Detalhes" rel="tooltip" data-placement="top"
                  data-toggle="modal" data-target="#modalDetalhesProduto">
                  <i class="fas fa-eye"></i>
                </a>
                <!-- <a th:href="@{/lotes?produtoId={id}(id=${produto.id})}" class="btn btn-link"
                  title="Lotes" rel="tooltip" data-placement="top"
                  sec:authorize="hasAuthority('INCLUIR_LOTE')">
                  <i class="fas fa-plus-circle"></i>
                </a> --><!-- th:href="@{/produtos/{id}/lote(id=${produto.id})}" --> <!-- th:href="@{/lotes/novo?produtoId={id}(id=${produto.id})}" -->
                <a th:href="@{/produtos/{id}(id=${produto.id})}" class="btn btn-link"
                  title="Editar" rel="tooltip" data-placement="top"
                  sec:authorize="hasAuthority('ALTERAR_PRODUTO')">
                  <i class="fas fa-pencil-alt"></i>
                </a>
                <a data-toggle="modal" data-target="#modalConfirmacao" class="btn btn-link" 
                  th:href="@{#}" th:attr="data-id=${produto.id}, data-descricao=${produto.descricao}"
                  title="Excluir" rel="tooltip" data-placement="top"
                  sec:authorize="hasAuthority('EXCLUIR_PRODUTO')">
                  <i class="fas fa-trash"></i>
                </a>
              </td>
            </tr>
            <tr th:if="${#lists.isEmpty(produtos)}">
              <td colspan="6">Nenhum produto foi encontrado.</td>
            </tr>
          </tbody>
        </table>
        
      <!-- </div> -->
    <!-- </div> -->
    <!-- /.card -->
  </section>
  
  <script layout:fragment="js-validator">
  
  $('#ancora').on('show.bs.modal', '#modalDetalhesProduto', function(event){
		var botao = $(event.relatedTarget); // Button that triggered the modal
		var url = botao.data('url-detalhes');
		console.log(url);
		var response = $.ajax({
		  type: 'GET',
		  url: url
  	    });
  	  
		response.done(function(e){
    		var modalDialog = $(e).find('.modal-dialog');
    		//$('#modalDetalhesProduto').replaceWith(e);
    		$('#modalDetalhesProduto').html(modalDialog);
    	});
    	 
    	response.fail(function(e){
    		alert('Erro ao carregar detalhes do produto.');  
    	});
		
	});
  
  $('#ancora').on('show.bs.modal', '#modalLote', function(event){
		var botaoAlterar = $(event.relatedTarget);
		var urlAlterarLote = botaoAlterar.data('url-lote');
		var response = $.ajax({
			url: urlAlterarLote,
			type: 'GET'
		})
		
		response.done(function(e){
			var modalDialog = $(e).find('.modal-dialog');
    		$('#modalLote').html(modalDialog);
    		
			/* $('#modalLote').find('.modal-header h4').html('Alterar Lote '+lote.id);
			$('#modalLote').find('input#inputCodigo').val(lote.id);
			$('#modalLote').find('input#inputDataFabricacao').val(lote.dataFabricacao);
			$('#modalLote').find('input#inputDataVencimento').val(lote.dataVencimento);
			$('#modalLote').find('input#inputValorCusto').val(lote.valorCusto);
			$('#modalLote').find('input#inputQuantidade').val(lote.quantidade);
			$('#modalLote').find('select#selectFornecedor').val(lote.fornecedor); */
		});
		
		response.fail(function(e){
			alert('Erro recebendo lote');
		});
	});
  	
    $('#ancora').on('click', '.pesquisa-padrao', function(event){
      	$('#filtroProdutoForm').trigger("reset");
      	$('#inputAvancada').val(false);
      	document.getElementById("filtroProdutoForm").submit(); 
  	});
  
    $('#ancora').on('click', '.pesquisa-avancada', function(event){
		$('#filtroProdutoForm').trigger("reset");
      	$('#inputAvancada').val(true);
    	document.getElementById("filtroProdutoForm").submit(); 
  	});
    
    $('#ancora').on('show.bs.modal', '.modal', function () {
	    var zIndex = 1040 + (10 * $('.modal:visible').length);
	    $(this).css('z-index', zIndex);
	    setTimeout(function() {
	        $('.modal-backdrop').not('.modal-stack').css('z-index', zIndex - 1).addClass('modal-stack');
	    }, 0);
	});
    
    $('#ancora').on('hidden.bs.modal', '#modalLote', function() {
  		$('#loteForm').validate().resetForm();
  		$('#loteForm').find('.is-invalid').removeClass('is-invalid');
  	});
  	
  	$('#inputDataFabricacao').rules('add', {
      required: true,
      customDate: true,
      messages: { 
          required: "Por favor digite a data de fabricação",
          customDate: "Por favor forneça uma data válida"
      }
    });
  	$('#inputDataVencimento').rules('add', {
      required: true,
      customDate: true,
      messages: { 
          required: "Por favor digite a data de vencimento",
          customDate: "Por favor forneça uma data válida"
      }
    });
  	$('#inputValorCusto').rules('add', {
      required: true,
      //min: 0.01,
      messages: { 
          required: "Por favor digite o valor de custo",
          //min: "Por favor digite um valor maior que 0.01"
      }
    });
  	$('#inputQuantidade').rules('add', {
      required: true,
      min: 1,
      messages: { 
          required: "Por favor digite a quantidade",
          min: "Por favor digite uma quantidade maior que 0"
      }
    });
  </script>
  
</html>








<!-- -------------------------------------------- -->
<!-- -------------------------------------------- -->
<!-- Fragmentos para busca paginada por parametro -->
<!-- -------------------------------------------- -->
<!-- -------------------------------------------- -->
<!-- <input type="hidden" th:name="page" th:value="${paginator.number}"></input> -->
<!-- <div class="row">
  <div class="col-12">
    Mostrando ${paginator.pageable.offset + 1} a ${paginator.pageable.offset + paginator.numberOfElements}
     de ${paginator.totalElements}
  </div>
</div> -->
<!-- paginator pagination -->
<!-- <nav aria-label="Pagination" th:if="${paginator.totalPages gt 0}">
    <ul class="pagination justify-content-center font-weight-medium">
        <li class="page-item" th:classappend="${paginator.number eq 0} ? 'disabled'">
            <a class="page-link svg-icon"
               th:href="@{/produtos/page/{id}(id=${paginator.number lt 2 ? 1 : paginator.number})}"
               aria-label="Anterior"
               title="Página anterior" rel="tooltip">
                <span aria-hidden="true"><i class="fas fa-angle-double-left"></i></span>
            </a>
        </li>
        <li class="page-item" th:classappend="${i eq paginator.number + 1} ? 'active'"
            th:each="i : ${#numbers.sequence( 1, paginator.totalPages > 10 + paginator.number ? paginator.number + 10 : paginator.totalPages, 1)}">
            <a class="page-link" th:href="@{/produtos/page/{id}(id=${i})}" th:text="${i}"
               th:title="${'Página '+ i}"
               rel="tooltip"></a>
        </li>
        <li class="page-item disabled" th:if="${paginator.number + 10 < paginator.totalPages}">
            <a class="page-link svg-icon" href="#">
                <i class="fas fa-ellipsis-h"></i>
            </a>
        </li>
        <li class="page-item" th:classappend="${paginator.number + 1 eq paginator.totalPages} ? 'disabled'">
            <a class="page-link svg-icon" th:href="@{/produtos/page/{id}(id=${paginator.number + 2})}"
               aria-label="Próxima"
               title="Próxima página" rel="tooltip">
                <span aria-hidden="true"><i class="fas fa-angle-double-right"></i></span>
            </a>
        </li>
    </ul>
</nav> -->
<!-- -------------------------------------------- -->
<!-- -------------------------------------------- -->
<!-- -------------------------------------------- -->
<!-- -------------------------------------------- -->




<!-- -------------------------------------------- -->
<!-- -------------------------------------------- -->
<!-- Fragmentos para busca paginada via ajax----- -->
<!-- -------------------------------------------- -->
<!-- -------------------------------------------- -->
<!-- <table id="example" class="table table-bordered table-responsive" style="width: 100%">
  <thead>
  <tr>
      <th>Código</th>
      <th>Descricao</th>
      <th>Marca</th>
      <th>Preço</th>
      <th>Ações</th>
  </tr>
  </thead>
  <tfoot>
  <tr>
      <th>Código</th>
      <th>Descricao</th>
      <th>Marca</th>
      <th>Preço</th>
      <th>Ações</th>
  </tr>
  </tfoot>
</table> -->

<!-- $('#example').DataTable({
        "processing": true,
        "serverSide": true,
        "ajax": {
            "url": "/produtos/pesquisa",
            "type": "POST",
            "dataType": "json",
            "contentType": "application/json",
            "data": function (d) {
                return JSON.stringify(d);
            }
        },
        "columns": [
            {"data": "codigo", "width": "20%"},
            {"data": "descricao","width": "20%"},
            {"data": "marca", "width": "20%"},
            {"data": "valorDeVenda", "width": "20%"}
        ],
        "columnDefs": [ {
            "targets": 4,
            "data": "download_link",
            "render": function ( data, type, row, meta ) {
              return '<a th:href="@{/lotes?produtoId={id}(id=${produto.id})}" class="btn btn-link"'+
                  'title="Lotes" rel="tooltip" data-placement="top"'+
                  'sec:authorize="hasAuthority(\'INCLUIR_LOTE\')">'+
                  '<i class="fas fa-plus-circle"></i>'+
               '</a>';
            }
          } ]
    }); -->
