<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{principal}">
<head>
  <title th:text="#{mercadinho}"></title>
</head>

  <section layout:fragment="container">
    <form method="GET" th:action="@{/produtos}" th:object="${filtro}">
      <header layout:insert="~{cabecalho}"></header>
      <header layout:insert="~{corpo}"></header>
    </form>
    <div layout:insert="~{confirmar_exclusao_produto}"></div>
  </section>
  
  <div layout:fragment="titulo">
    <h1 class="m-0 text-dark">Produtos</h1>
  </div>
  
  <div layout:fragment="botoes">
    <a class="btn btn-block btn-info" th:href="@{/produtos/novo}" th:text="#{novo}"></a>
  </div>
  
  <section layout:fragment="conteudo">
    <div class="card card-secondary">
      <!-- <div class="card-header">
        <h3 class="card-title">Novo Título</h3>
      </div> -->
      <div class="card-body">
        <div class="form-group row">
          <div class="col-sm-6">
            <div class="input-group">
              <input class="form-control" 
                placeholder="Qual produto você está procurando?" autofocus="autofocus"
                th:field="*{descricao}"/>
              <div class="input-group-append">
                <button type="submit" class="btn btn-default">
                  <i class="fas fa-search"></i>
                </button>
              </div>
            </div>
            
          </div>
        </div>
      
        <table class="table table-bordered table-striped js-tabela">
          <thead>
            <tr>
              <th class="text-center col-1" th:text="#{listagem.produto.coluna.id}"></th>
              <th th:text="#{listagem.produto.coluna.descricao}" ></th>
              <th class="text-center col-2" th:text="#{listagem.produto.coluna.categoria}"></th>
              <th class="text-center col-2" th:text="#{listagem.produto.coluna.acoes}">Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="produto : ${produtos}">
              <td class="text-center" th:text="${produto.id}"></td>
              <td th:text="${produto.descricao}"></td>
              <td class="text-center" th:text="${produto.categoria!=null?produto.categoria.descricao:null}">                    
              <td class="text-center">
                <a th:href="@{/produtos/{id}/lote(id=${produto.id})}" class="btn btn-link btn-sm"
                  title="Lote" rel="tooltip" data-placement="top">
                  <i class="fas fa-plus-circle"></i>
                </a>
                <a th:href="@{/produtos/{id}(id=${produto.id})}" class="btn btn-link btn-sm"
                  title="Editar" rel="tooltip" data-placement="top">
                  <i class="fas fa-pencil-alt"></i>
                </a>
                <a data-toggle="modal" data-target="#modalConfirmacao" class="btn btn-link btn-sm" 
                  th:href="@{#}" th:attr="data-id=${produto.id}, data-descricao=${produto.descricao}"
                  title="Excluir" rel="tooltip" data-placement="top"><!--  -->
                  <i class="fas fa-times"></i>
                </a>
              </td>
            </tr>
            <tr th:if="${#lists.isEmpty(produtos)}">
              <td colspan="6">Nenhum produto foi encontrado.</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- /.card -->
  </section>
  
</html>
