<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{principal}">
<head>
  <title th:text="#{mercadinho}">Seu título aqui</title>
</head>

  <section layout:fragment="container">
    <form id="filtroClienteForm" method="GET" th:action="@{/clientes}" th:object="${filtro}" role="form">
      <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"></input>
      <header layout:insert="~{cabecalho}"></header>
      <header layout:insert="~{corpo}"></header>
    </form>

    <div class="modal fade" id="modalConfirmacao" tabindex="-1" data-keyboard="false" data-backdrop="static">
      <div class="modal-dialog">
        <form th:attr="data-url-base=@{/clientes}" method="POST">
          <input type="hidden" name="_method" value="DELETE"></input>
          <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"></input>
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Confirmar exclusão</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Deseja realmente excluir o cliente?</p>
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-primary">Excluir</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </form>
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    
    <div class="modal fade" id="modalDetalhes">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Detalhes do Cliente</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-7">
                <h2 class="lead"><b th:text="${cliente.nome}"></b></h2>
                <!-- <p class="text-muted text-sm"><b>About: </b> Web Designer / UX / Graphic Artist / Coffee Lover </p> -->
                  
                <ul class="ml-4 mb-0 fa-ul text-muted">
                  <li class="small">
                    <span class="fa-li">
                    <i class="fas fa-lg fa-at"></i></span> 
                    <h6 class="mb-0">Email:</h6> 
                    <h6 th:text="#{nao.informado}" th:if="${#strings.isEmpty(cliente.email)}"></h6>
                    <h6 th:text="${cliente.email}" th:if="${!#strings.isEmpty(cliente.email)}"></h6>
                  </li>
                  <li class="small">
                    <span class="fa-li"><i class="fas fa-lg fa-building"></i></span>
                    <h6 class="mb-0">Endereço:</h6> 
                    <h6 th:text="#{nao.informado}" th:if="${#strings.isEmpty(enderecoFormatado)}"></h6>
                    <h6 th:text="${enderecoFormatado}" th:if="${!#strings.isEmpty(enderecoFormatado)}"></h6>
                  </li>
                  <li class="small">
                    <span class="fa-li">
                    <i class="fas fa-lg fa-phone"></i></span> 
                    <h6 class="mb-0">Telefone:</h6> 
                    <h6 th:text="#{nao.informado}" th:if="${#strings.isEmpty(cliente.telefone)}"></h6>
                    <h6 th:text="${cliente.telefone}" th:if="${!#strings.isEmpty(cliente.telefone)}"></h6>
                  </li>
                </ul>
              </div>
              <div class="col-5 text-center">
                <img th:src="@{${imagem}}" alt="" class="img-fluid" style="height:160px"></img>
              </div>
            </div>
          </div>
          
          <div class="modal-footer float-right">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    
  </section>
  
  <div layout:fragment="titulo">
    <h1 class="m-0 text-dark">Clientes</h1>
  </div>
  
  <div layout:fragment="botoes">
    <a class="btn btn-block btn-info" th:href="@{/clientes/novo}" th:text="#{novo}"
     sec:authorize="hasAuthority('INCLUIR_CLIENTE')"></a>
  </div>
  
  <section layout:fragment="conteudo">
    <div class="card card-secondary">
      <!-- <div class="card-header">
        <h3 class="card-title">Novo Título</h3>
      </div> -->
      <div class="card-body">
        <div class="form-group row">
          <input type="hidden" th:field="*{avancada}" id="inputAvancada"></input>
          <div class="col-sm-6" th:unless="*{avancada}">
            <div class="input-group">
              <input class="form-control" 
                placeholder="Qual cliente você está procurando?" autofocus="autofocus"
                th:field="*{termo}"/>
              <div class="input-group-append">
                <button type="submit" class="btn btn-default">Pesquisar
                  <!-- <i class="fas fa-search"></i> -->
                </button>
              </div>
            </div>
            <button type="button" class="btn btn-md btn-link px-0 py-0 pesquisa-avancada">
              <small>Pesquisa avançada</small>
            </button>
          </div>
          <div class="col-sm-12" th:if="*{avancada}">
            <div class="row">
              <div class="col-sm-4">
                <label class="col-form-label">Nome</label>
                <div class="input-group">
                  <input class="form-control" 
                    placeholder="Nome"
                    th:field="*{cliente.nome}"></input>
                </div>
                <label class="col-form-label">Email</label>
                <div class="input-group">
                  <input class="form-control" 
                    placeholder="Email" 
                    th:field="*{cliente.email}"></input>
                </div>
              </div>
              <div class="col-sm-4">
                <label class="col-form-label">Telefone</label>
                <div class="input-group">
                  <input class="form-control" 
                    placeholder="Telefone" th:field="*{cliente.telefone}" 
                    ></input><!-- data-inputmask='"mask": "(99) 99999-9999"' data-mask -->
                </div>
                <label class="col-form-label">CPF</label>
                <div class="input-group">
                  <input class="form-control" 
                    placeholder="Cpf" th:field="*{cliente.cpf}"></input>
                </div>
              </div>
              
              <div class="col-sm-4">
                <label class="col-form-label">Data Nascimento</label>
                <div class="input-group">
                  <input class="form-control" 
                    placeholder="Data inicial"  
                    data-inputmask='"mask": "99/99/9999"' data-mask></input>
                  <span style="width: 10px"></span>
                  <input class="form-control" 
                    placeholder="Data final" 
                    data-inputmask='"mask": "99/99/9999"' data-mask></input>
                </div>
                <label class="col-form-label">Endereço</label>
                <div class="input-group">
                  <input class="form-control" 
                    placeholder="Endereco" ></input>
                </div>
              </div>
            </div>
            <button type="button" class="btn btn-md btn-link px-0 py-0 pesquisa-padrao">
              <small>Voltar para a pesquisa padrão</small>
            </button>
            <button type="submit" class="btn btn-default" style="float:right">Pesquisar
              <!-- <i class="fas fa-search"></i> -->
            </button><br/>
            
          </div>
        </div>
        
        <table class="table table-bordered table-hover table-sm js-tabela">
          <thead  style="background-color: #fffed4">
            <tr>
              <th class="text-center col-1">Código</th>
              <th>Nome</th>
              <th class="text-center col-2">Telefone</th>
              <th class="text-center col-3">Email</th>
              <th class="text-center col-2">Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="cliente : ${clientes}">
              <td class="text-center" th:text="${cliente.id}"></td>
              <td th:text="${cliente.nome}"></td>
              <td class="text-center" th:text="${cliente.telefone}"></td>
              <td class="text-center" th:text="${cliente.email}"></td>
              <td class="text-center">
                <a th:attr="data-url-detalhes=@{/clientes/detalhes/{id}(id=${cliente.id})}" th:href="@{#}" 
                  data-toggle="modal" data-target="#modalDetalhes" class="btn btn-link btn-sm"
                  title="Visualizar" rel="tooltip" data-placement="top">
                  <i class="fas fa-eye"></i>
                </a>
                <a th:href="@{/clientes/{id}(id=${cliente.id})}" class="btn btn-link btn-sm"
                  title="Editar" rel="tooltip" data-placement="top"
                  sec:authorize="hasAuthority('ALTERAR_CLIENTE')">
                  <i class="fas fa-pencil-alt"></i>
                </a>
                <a data-toggle="modal" data-target="#modalConfirmacao" class="btn btn-link btn-sm" 
                  th:href="@{#}" th:attr="data-id=${cliente.id}, data-descricao=${cliente.nome}"
                  title="Excluir" rel="tooltip" data-placement="top"
                  sec:authorize="hasAuthority('EXCLUIR_CLIENTE')">
                  <i class="fas fa-trash"></i>
                </a>
              </td>
            </tr>
            <tr th:if="${#lists.isEmpty(clientes)}">
              <td colspan="5">Nenhum cliente foi encontrado.</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- /.card -->
  </section>
  
  <script layout:fragment="js-validator">
    
    $('#container').on('show.bs.modal', '#modalDetalhes', function(event){
		var botao = $(event.relatedTarget); // Button that triggered the modal
		var url = botao.data('url-detalhes');
		console.log(url);
		var response = $.ajax({
		  type: 'GET',
		  url: url
	  });
	  
  	response.done(function(e){
  		var modalDialog = $(e).find('.modal-dialog');
  		$('#modalDetalhes').html(modalDialog);
  	});
  	  
  	response.fail(function(e){
  		alert('Erro ao carregar detalhes do cliente.');  
  	});
		
	});
    
  	$('#ancora').on('click', '.pesquisa-padrao', function(event){
    	$('#filtroClienteForm').trigger("reset");
  		$('#inputAvancada').val(false);
  		document.getElementById("filtroClienteForm").submit(); 
	});
  
  	$('#ancora').on('click', '.pesquisa-avancada', function(event){
    	$('#filtroClienteForm').trigger("reset");
    	$('#inputAvancada').val(true);
		document.getElementById("filtroClienteForm").submit(); 
	});
  </script>
  
</html>
