<!-- <!DOCTYPE html> -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

  <!-- <div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10"> -->
  <div class="content-header" style="padding-left:0px; padding-right:0px; padding-bottom:5px">
    
    <div class="container-fluid">
      <div class="row mb-2" layout:fragment="cabecalho">
        <div class="col-sm-9 m-0">
          <div layout:fragment="titulo">
            <h1 class="m-0 text-dark">Cadastro</h1>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="float-right">
            <div layout:fragment="botoes"></div>    
          </div>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->
  <!-- </div>
  <div class="col-md-1"></div>
  </div> -->
  
</html>