<!-- <!DOCTYPE html> -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
      
        <div layout:insert="~{mensagem_geral}"></div>
        <div layout:insert="~{mensagem_erro}"></div>
        
        <div layout:fragment="conteudo"></div>
        
      </div>
      <!-- container-fluid -->
    </section>
    <!-- /.content --> 

</html>