<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{principal}">
<head>
  <title th:text="#{mercadinho}"></title>
  <style type="text/css">
    .select2-selection__rendered {
      font-family: Arial, Helvetica, sans-serif !important;
      font-size: 20px !important;
    }
    .info-produto {
      font-size: 20px !important;
    }
  </style>
</head>

<section layout:fragment="container">
  <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Dashboard</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Dashboard v1</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Main row -->
        <div class="row">
          <!-- Left col -->
          <div class="col-md-12">
             <div class="card card-success">
              <div class="card-header">
                
                <h3 class="card-title"><i class="fas fa-search-dollar"></i> Consulta de Preço</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <ul class="js-buscar-produto mb-4"   
                 th:attr="data-url-buscar-item=@{/caixa/buscarItem}, data-url-detalhes-produto=@{/caixa/produto},
                 data-url-selecionar-balanca=@{/caixa/balanca}"
                 style="width: 100%;"></ul>
              </div>
              <!-- /.card-body -->

              <!-- <div class="card-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div> -->
            </div>
            <!-- /.card -->
          </div>
          
          <div class="col-md-12">
          <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title"><i class="fas fa-info-circle"></i> Detalhes do Produto</h3>
              </div>
              <!-- /.card-header -->
              <form role="form">
                <div class="card-body">
                  <div id="nenhumProduto" class="row">
                    <div class="col-md-12">
                      Nenhum produto selecionado
                    </div>
                  </div>
                  <div id="detalheProduto" class="row" hidden="hidden">
                    <div class="col-md-5">
                      <dl>
                        <dt>Código</dt>
                        <dd class="info-produto" id="detalheProdutoCodigo">Não informado</dd>
                        <dt>Nome</dt>
                        <dd class="info-produto" id="detalheProdutoNome">Não informado</dd>
                        <dt>Marca</dt>
                        <dd class="info-produto" id="detalheProdutoMarca">Não informado</dd>
                      </dl>
                    </div>
                    <div class="col-md-4">
                      <dl>
                        <dt>Categoria</dt>
                        <dd class="info-produto" id="detalheProdutoCategoria">Não informado</dd>
                        <dt>Preço</dt>
                        <dd class="info-produto" id="detalheProdutoPreco">Não informado</dd>
                        <dd class="info-produto" id="detalheProdutoPrecoOpcional">Não informado</dd>
                      </dl>
                    </div>
                    <div class="col-md-3 text-center">
                      <img id="detalheProdutoImagem" th:src="@{/custom/img/produto/sem-imagem_2.jpg}" style="height: 200px" class="img-fluid"></img>
                    </div>
                    <button type="button" class="btn btn-lg btn-danger float-right" data-toggle="popover" title="Redireciona" 
                    data-content="Ao clicar neste botão você será redirecionado para a tela de produtos.">Acessar produto</button>
                    <a th:href="@{#}" class="btn btn-link btn-sm" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">
                    <i class="fas fa-eye"></i></a>
                  </div>
                </div>
                <!-- /.card-body -->

                <!-- <div class="card-footer">
                  <a th:href="@{#}" class="btn btn-link btn-sm" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">
                    <i class="fas fa-eye"></i>
                  </a>
                  <button type="button" class="btn btn-lg btn-danger float-right" data-toggle="popover" title="Redireciona" 
                    data-content="Ao clicar neste botão você será redirecionado para a tela de produtos.">Acessar produto</button>
                </div> -->
              </form>
            </div>
            <!-- /.card -->
          </div>
          
        </div>
        <!-- /.row (main row) -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</section>
<script layout:fragment="js-validator">

var currencyformatter = new Intl.NumberFormat('pt-BR', {
  style: "currency",
  currency: "BRL",
  minimumFractionDigits: 2,
  currencyDisplay: "symbol",
});

var decimalformatter = new Intl.NumberFormat('pt-BR', {
  minimumFractionDigits: 2
});

function startSelect2(){
	var seletor = $('.js-buscar-produto');
	var url = seletor.data('url-buscar-item');
	
	$(seletor).select2({
      language: "pt-BR",
  	  ajax: {
  	    url: url,
  	    dataType: 'json',
  	    delay: 250,
  	    data: function (params) {
  	      return {
  	        q: params.term, // search term
  	        page: params.page || 1 
  	      };
  	    },
  	    processResults: function (data, params) {
  	      // parse the results into the format expected by Select2
  	      // since we are using custom formatting functions we do not need to
  	      // alter the remote JSON data, except to indicate that infinite
  	      // scrolling can be used
  	      params.page = params.page || 1;

  	      return {
  	        results: data.items,
  	        pagination: {
  	          more: (params.page * data.page_size) < data.total_count
  	        }
  	      };
  	    },
  	    cache: true
  	  },
  	  placeholder: 'Digite aqui',
  	  minimumInputLength: 1,
  	  allowClear: true,
  	  templateResult: formatRepo,
  	  templateSelection: formatRepoSelection,
  	  multiple: true
  	});
}

function formatRepo (repo) {
  if (repo.loading) {
    return repo.text;
  }
  
  var $container = $(
  	"<li class='products-list product-list-in-card  py-2' role='li'>"+
      "<div class='product-img'>"+
      "</div>"+
      "<div class='product-info ml-4'>"+
      	"<p class='product-description mb-0'></p>"+
        "<h5 id='preco' class='float-right'></h5>"+
        "<h5 class='product-title mb-0'></h5>"+
      "</div>"+
    "</li>"
  );
  
  "<a href='@{#}' class='float-right btn btn-link btn-sm' data-toggle='popover' title='Popover title' data-content='And here\'s some amazing content. It\'s very engaging. Right?'>" +
  "<i class='fas fa-eye'></i>"+
"</a>"+

  $container.find("#image").attr('src', 'data:image/png;base64,'+repo.imagemBase64);
  $container.find(".product-title").text(repo.descricao);
  $container.find("#preco").text(currencyformatter.format(repo.valorDeVenda)+' '+repo.unitario);
  $container.find(".product-description").text(repo.codigo);

  return $container;
}

function formatRepoSelection (repo) {
  return repo.full_name || repo.text;
}

$('.js-buscar-produto').on('select2:select', function(e) {

	var data = e.params.data;
	var seletor = $(e.currentTarget);
	var url = seletor.data('url-detalhes-produto');
	if(!url.endsWith('/')){
		url += '/';
	}
	url += data.id;
	
	var response = $.ajax({
		url: url,
		type: 'GET'
	});
	
	response.done(function(e){
		$('#detalheProdutoCodigo').html(e.codigo);
		$('#detalheProdutoNome').html(e.descricao);
		$('#detalheProdutoMarca').html(e.marca);
		$('#detalheProdutoCategoria').html(e.categoria.nome);
		$('#detalheProdutoPreco').html(currencyformatter.format(e.valorDeVenda)+' '+e.unitario);
		$('#detalheProdutoPrecoOpcional').html(currencyformatter.format(e.valorDeVendaOpcional)+' '+e.unitarioOpcional);
		$("#detalheProdutoImagem").attr('src', 'data:image/png;base64,'+e.imagemBase64);
		$('#detalheProduto').removeAttr('hidden');
		$('#nenhumProduto').attr('hidden', 'hidden');
		console.log(e);
	});
	response.fail(function(e){
		alert('Erro incluindo item');
	});  
});

function search() {
	console.log('pesquisa realizada');
}

$(document).ready(function(event){
	startSelect2();
});

$(document).on(
	    {
	        mouseover: function(){console.log('mouseover')},
	        mouseout: function(){console.log('mouseout')},
	        
	    }, 
	    '.select2-results__option'
	);

$(function () {
	  $('[data-toggle="popover"]').popover({trigger: "hover"})
	})
</script>
</html>
