<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{principal}">
<head>
  <title th:text="#{cadastro.lote.titulo.aba.navegador}"></title>
</head>

  <section layout:fragment="conteudo">
  
    <form class="form" method="POST" th:action="@{/lotes}" th:object="${lote}">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark" th:text="#{cadastro.lote.titulo}"></h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <!-- <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Dashboard v1</li>
              </ol> -->
              <div class="float-right">
                <!-- <button type="button" class="btn btn-md btn-danger">Voltar</button> -->
                <a class="btn btn-danger" th:href="@{/lotes}" th:text="#{voltar}"></a>
                <button type="submit" class="btn btn-md btn-info" th:if="!*{id}" th:text="#{salvar}"></button>
                <button type="submit" class="btn btn-md btn-info" th:if="*{id}" th:text="#{alterar}"></button>
              </div>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
        
          <div layout:insert="~{mensagem_geral}"></div>
          <div layout:insert="~{mensagem_erro}"></div>
          
          <div class="card card-secondary">
            <!-- <div class="card-header">
              <h3 class="card-title">Novo Título</h3>
            </div> -->
            <!-- form start -->
            <!-- <form class="form-horizontal" method="POST" action="/titulos"> -->
              <div class="card-body">
                <input type="hidden" id="inputCodigo" th:field="*{id}"></input>
                <input type="hidden" id="inputProdutoId" th:field="*{produto.id}"></input>
                
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="inputDescricao" class="col-form-label">Descricao</label>
                      <input type="text" readonly="readonly" class="form-control" id="inputDescricao" th:field="*{produto.descricao}" th:classappend="${#fields.hasErrors('produto.descricao')} ? is-invalid">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="inputDataFabricacao" class="col-form-label">Data de Fabricacao</label>
                      <input type="text" class="form-control js-date" id="inputDataFabricacao" th:field="*{dataFabricacao}" th:classappend="${#fields.hasErrors('dataFabricacao')} ? is-invalid">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="inputDataVencimento" class="col-form-label">Data de Vencimento</label>
                      <input type="text" class="form-control js-date" id="inputDataVencimento" th:field="*{dataVencimento}" th:classappend="${#fields.hasErrors('dataVencimento')} ? is-invalid">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="inputValorCusto" class="col-form-label">Valor de Custo</label>
                      <input type="text" class="form-control js-currency" id="inputValorCusto" th:field="*{valorCusto}" th:classappend="${#fields.hasErrors('valorCusto')} ? is-invalid">
                    </div>
                  </div>
                  <!-- <div class="col-md-6">
                    <div class="form-group">
                      <label for="inputProduto" class="col-form-label" th:text="#{cadastro.lote.label.produto}"></label>
                      <select class="form-control" th:field="*{produto}">
                        <option value="" selected th:text="#{selecione.produto}"></option>
                        <option th:each="produto : ${produtoList}" th:value="${produto.id}" th:text="${produto.descricao}"></option>
                      </select>
                    </div>
                  </div> -->
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="inputQuantidade" class="col-form-label">Quantidade</label>
                      <input type="text" class="form-control" id="inputQuantidade" th:field="*{quantidade}" th:classappend="${#fields.hasErrors('quantidade')} ? is-invalid">
                    </div>
                  </div>
                </div>
                <!-- <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="inputCategoria" class="col-form-label" th:text="#{cadastro.lote.label.categoria}"></label>
                      <select class="duallistbox" multiple="multiple">
                        <option th:each="categoria : ${categoriaList}" th:value="${categoria}" th:text="${categoria.descricao}"></option>
                      </select>
                    </div>
                  </div>
                </div> -->
              </div>
            <!-- </form> -->
          </div>
          <!-- /.card -->
        </div><!-- container-fluid -->
      </section>
      <!-- /.content --> 
    </div>
    <!-- /.content-wrapper -->
    </form>
  </section>
    
</html>
