<!-- <!DOCTYPE html> -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <section layout:fragment="titulo_da_pagina">
            <h1 class="m-0 text-dark">Cadastro de Títulos</h1>
          </section>
        </div>
        <div class="col-sm-6">
          <div class="float-right">
            <section layout:fragment="botoes"></section>   
          </div>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>

</html>