<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{principal}">
<head>
  <title>Cadastro de Títulos</title>
</head>
    <div layout:fragment="container">
      <form class="form-horizontal" method="POST" th:action="@{/titulos}" th:object="${titulo}">
        <header layout:insert="~{cabecalho}"></header>
        <header layout:insert="~{corpo}"></header>
      </form>
    </div> 
     
    <div layout:fragment="titulo">
      <h1 class="m-0 text-dark">Cadastro de Títulos</h1>
    </div>
    
    <div layout:fragment="botoes">
      <a class="btn btn-danger" th:href="@{/titulos}">Voltar</a>
      <button type="submit" class="btn btn-md btn-info" th:if="!*{id}">Salvar</button>
      <button type="submit" class="btn btn-md btn-info" th:if="*{id}">Alterar</button>
    </div>
    
    <div layout:fragment="conteudo">
      <div class="card card-secondary">
        <div class="card-header">
          <h3 class="card-title">Novo Título</h3>
        </div> 
        
        <div class="card-body">
          <input type="hidden" id="inputCodigo" th:field="*{id}"></input>
          <div class="form-group row">
            <label for="inputDescricao1" class="col-sm-2 col-form-label">Descrição</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="inputDescricao1" th:field="*{descricao}" th:classappend="${#fields.hasErrors('descricao')} ? 'is-invalid'">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputDataVencimento" class="col-sm-2 col-form-label">Data de Vencimento</label>
            <div class="col-sm-2">
              <input type="text" class="form-control" id="inputDataVencimento" th:field="*{dataVencimento}" th:classappend="${#fields.hasErrors('dataVencimento')} ? is-invalid">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputValor1" class="col-sm-2 col-form-label">Valor</label>
            <div class="col-sm-2">
              <input type="text" class="form-control js-currency" id="inputValor1" th:field="*{valor}" th:classappend="${#fields.hasErrors('valor')} ? is-invalid">
            </div>
          </div>        
          <div class="form-group row">
            <label for="inputStatus" class="col-sm-2 col-form-label">Status</label>
            <div class="col-sm-2">
              <select class="form-control" th:field="*{status}">
                <option th:each="status : ${statusTituloList}" th:value="${status}" th:text="${status.descricao}"></option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <!-- /.card -->
    </div>
    
</html>
