<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{principal}">
<head>
  <title>AdminLTE 3 | Dashboard</title>
</head>

  <section layout:fragment="conteudo">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">Títulos</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">  
              <!-- <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Dashboard v1</li>
                <li><button type="button" class="btn btn-block btn-info">Info</button></li>
                <li><button type="button" class="btn btn-block btn-info">Info</button></li>
              </ol> -->
              <div class="float-right">
                <!-- <button type="button" class="btn btn-md btn-info">Novo</button> -->
                <a href="/titulos/novo">Novo</a>
              </div>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->
  
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
        
          <div layout:insert="~{mensagem_geral}"></div>
        
          <div class="card card-secondary">
            <!-- <div class="card-header">
              <h3 class="card-title">Novo Título</h3>
            </div> -->
            <div class="card-body p-0">
              <table class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th class="text-center col-md-1 nopadding">#</th>
                    <th>Descrição</th>
                    <th class="text-center col-md-2">Data de Vencimento</th>
                    <th class="text-right col-md-2">Valor</th>
                    <th class="text-center col-md-2">Status</th>
                    <th class="col-md-1"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="titulo : ${titulos}">
                    <td class="text-center nopadding" th:text="${titulo.codigo}"></td>
                    <td th:text="${titulo.descricao}"></td>
                    <td class="text-center" th:text="${{titulo.dataVencimento}}"></td>
                    <td class="text-right" th:text="|R$ ${{titulo.valor}}|"></td>
                    <td class="text-center">
                      <span class="badge" th:classappend="${#strings.toString(titulo.status) == 'PENDENTE' ? 'bg-danger' : 'bg-success'}" 
                        th:text="${titulo.status.descricao}"></span>
                    </td>
                    <td class="text-center nopadding">
                      <a th:href="@{/titulos/{codigo}(codigo=${titulo.codigo})}" class="btn btn-link btn-xs"
                        title="Editar" rel="tooltip" data-placement="top">
                        <i class="fas fa-pencil-alt"></i>
                      </a>
                      
                      <a data-toggle="modal" data-target="#modalConfirmacao" class="btn btn-link btn-xs" 
                        href="#" th:attr="data-codigo=${titulo.codigo}, data-descricao=${titulo.descricao}"
                        title="Excluir" rel="tooltip" data-placement="top"><!--  -->
                        <i class="fas fa-times"></i>
                      </a>
                    </td>
                  </tr>
                  <tr th:if="${#lists.isEmpty(titulos)}">
                    <td colspan="6">Nenhum título foi encontrado.</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- form start -->
            <!-- <form class="form-horizontal" method="POST" action="/titulos"></form> -->
          </div>
          <!-- /.card -->
        </div><!-- container-fluid -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    
    <div layout:insert="~{confirmacao_exclusao}"></div>
    
  </section>
  
</html>
